[2016-02-20 14:17] ro70 commented on #348
@geek: Same with name key, register key, ... You did consider these too?

[2016-02-20 16:13] PhilWaldmann commented on #35
If you use seneca with hapi (via chairo) you'll get a timeout for every exception happening on the server. By default hapi will return 500, but seneca swallows all exceptions.

I like the way seneca works, but this bug currently totally destroys all the benefits for me.

[2016-02-22 17:32] geek commented on #35
@PhilWaldmann agreed that we should handle that differently.  Would rather it fails fast than times out

[2016-02-22 17:50] geek commented on #348
@ro70 are `name`, and `register` undefined?

[2016-02-22 17:56] geek commented on #347
One potential option is to change the `seneca.die` function to your own.  It will be called with the `Error` object.

[2016-02-22 18:38] ro70 commented on #348
@geek
[code]

All the values of the following get request parameters take another value (should always be 4):

id: fgvzjzwqoi0i/1456164506781/38241/undefined
name: Seneca/1.1.0/zpo2rs5ihooc/1456164562659/38250/undefined
version: 1.1.0
start_time: 1456164865378
register: 1

I suppose that every depth 0 key in the args object of
[code]
shows this behaviour.

[code]

[2016-02-22 19:29] geek commented on #219
Here is a better example:

[code]

It will timeout and just return an error instead of exiting.

Another option is to remove the `error` handler `seneca.die` and add your own custom one.

[2016-02-22 22:51] #346 closed

[2016-02-24 11:26] StarpTech commented on #318
Hi @geek it's almost one month ago since the issue has been posted. Is it taken seriously? Thanks.

[2016-02-24 11:29] StarpTech commented on #318
@jbruni thanks for your investigation.

[2016-02-24 19:40] geek commented on #318
@StarpTech See https://github.com/geek/seneca/blob/master/test/transport.test.js#L915-L948

Can you create a test that reproduces the issue... this test I created demonstrates that there isn't an issue when closing one server, starting another while the client runs.

You are also welcome to open a PR to fix the issue as you see it.

[2016-02-24 22:09] StarpTech commented on #318
@geek this test cannot cover the scenario in this test case https://github.com/platdesign/seneca-issue.
- You don't have seperate processes.
- You don't kill the process by 'CTRL+C'.
I will try to write a test but the issue you can see in my gif and you can reproduce it with the test repo.

[2016-02-25 11:50] nicholaschantcs opened #354 "Multi-tenanted using Seneca Mongo Data Store"
Hi,

I am trying to achieve multi-tenant using this example from [https://github.com/edappy/seneca-multi-mongo-example](https://github.com/edappy/seneca-multi-mongo-example). I found out that it works fine in this example as it is using an older version of Seneca which is 0.6.5 but when I try to run it with the latest version of Seneca 1.2.0 , it will ignore the first seneca.use and proceed with t

[2016-02-25 16:50] geek commented on #354
@nicholaschantcs good catch.  One alternative, to get this to work, is to change the store name for each case.  You could fork the seneca-mongo-store and make it so that the store name is set to the options.name passed in if there is one.  Right now its https://github.com/rjrodger/seneca-mongo-store/blob/master/mongo-store.js#L9 and could be overridden on https://github.com/rjrodger/seneca-mongo-s

[2016-02-25 18:45] mcdonnelldean commented on #354
@geek @nicholaschantcs We have a few friends who have done this, give me few days to root something out for you

[2016-02-26 08:51] nicholaschantcs commented on #354
@geek , I will give it a go with that approach and I look forward in @mcdonnelldean solution.
Thanks :smile:

[2016-02-26 09:26] o100ja opened #355 "Pinning regression"
The bump from 1.0 to 1.1 and 1.2 created a regression regarding the usage of ```seneca.pin``` method.

The problem is that on seneca >=1.1 the ```pin``` method returns an empty delegate collection until the **pin** event is triggered, which is emitted right after the **ready** event is emitted, which is in some cases too late.  Let me elaborate:
Let's say we have these plugins with the following m

[2016-02-29 15:01] rjrodger commented on #355
Agreed - pinning is a dead-end feature that has proven to have too much downside in practice, and is due for deprecation this year.

We will however work on fixing this regression! :)

[2016-02-29 15:21] mcdonnelldean commented on #355
@o100ja On the community contact. I just wanted to say this is something we are going to get better at quickly. We are putting plans in place to make this much easier (The first of which was the move to the org). All of the team really want this so we are working through what is practical.

I just wanted to be clear we know this is a pain point and we are moving to improve it.

[2016-02-29 17:54] DigitalLeaves opened #356 "Why do errors in seneca cause app termination?"
Hi, we were thinking in adopting seneca for our app. We are in the process of adapting the backend to seneca, and we have found some really weird behavior I would like to ask you about. We are using express to build our REST API and separate all entities, model, database, authentication, etc in different seneca services.

If I have a module with:
[code]
Then, this error causes app termination, and

[2016-02-29 18:36] geek commented on #356
@DigitalLeaves the default is to make those errors fatal, which is not always the desired behavior.  You can change this by adding `fatal$: false` when you execute an action.

Your example would be changed to:

[code]

[2016-02-29 19:50] geek commented on #355
@o100ja how is this for a potential workaround? If this isn't what you are fully describing, can you please update the example below:

[code]

[2016-03-01 08:21] DigitalLeaves commented on #356
Hi @geek, thanks for your prompt response and for giving me a way of addressing this issue. Is there a way I can change that default behavior in Seneca? If not, I would strongly suggest you to add one, because I can possibly think of an scenario where app termination is preferred over a controlled response error.

[2016-03-01 09:35] DigitalLeaves commented on #356
Hi Again @geek, I added the "fatal$: false" and still is exiting, so it seems it's not working. I am calling a seneca action (role: "auth", cmd: "register"), which in turn calls a seneca action (role: "user", cmd: "add")

[code]
This is the "register" function:
[code]

And the output is:
[code]
Any idea?

[2016-03-01 14:05] o100ja commented on #355
Tnx @geek but I already tried similar solutions and it simply doesn't work for me at this point.
Regardless since were definitely considering deprecation, I have a proposal for a quick solution that works for me and it is not expensive:

Introduce a new option (similar to timeout) that forces the pin process to be synchronous. Not sure about the parameter name (synchronous_pin: true|false) or some

[2016-03-01 20:51] geek commented on #356
@DigitalLeaves thanks, I am marking this as a request.  This means that we are definitely open to the change.  Feel free to submit a PR, otherwise it may be an iteration before the change makes it in.

[2016-03-02 15:47] DigitalLeaves commented on #356
Hi @geek , thank you very much. I definitely want to be able to get familiar with the seneca code and being able to contribute, but I don't know if I will get to that point soon. Anyway, this is something I would love to do, because I think this is a great project.

[2016-03-02 18:29] geek commented on #348
@ro70 this is now published... please verify

[2016-03-02 18:32] #355 closed

[2016-03-02 18:32] geek commented on #355
@o100ja landed the feature, the setting is named `immediate` `{ pin: { immediate: true } }`

[2016-03-03 14:55] geek commented on #121
We should also add this to the plugin `use` function, to allow for plugin initialization timeouts.

[2016-03-03 16:42] ro70 commented on #348
@geek Now, I have seneca 1.3.0 installed. But this issue remains.

[2016-03-03 17:52] geek commented on #121
Related: https://github.com/senecajs/gate-executor/pull/6

[2016-03-03 19:15] #121 closed

[2016-03-03 23:59] nfantone commented on #26
Any updates or plans on this? I'd love to see not only this baked into the core, but a tutorial on promisifying entities methods (such as `save$`). [Some hacky attempts](https://github.com/tasinet/seneca-bluebird/blob/master/promisify.js) were made before, but it seems they have become obsolete by now.

[2016-03-04 01:20] brycereynolds opened #360 "Is actmeta.descdata properly respected?"
I haven't seen any documentation as to the proper use of the `descdata` field but I've see that [seneca-user](https://github.com/senecajs/seneca-user/blob/master/user.js#L416-L418) makes use of it's syntax.

I want to alter my logs at the action level so I was hoping this would be a path to completing that (we have big objects, I want to log them).

When I print the value of `actmeta.descdata` at

[2016-03-04 01:44] brycereynolds commented on #360
Pull request submitted:

https://github.com/senecajs/seneca/pull/361

[2016-03-04 04:11] geek commented on #26
@nfantone I think we are definitely open to it.  It hasn't become a major priority though, as there are ways around it, as Blain wrote about in his tutorial.  But, we are definitely happy to consider a PR to add in promises.

[2016-03-04 12:57] nfantone commented on #26
@geek The thing is, the tutorial only approaches "promisification" of `seneca.act`. What's the "way around" entities' API? I don't think there's such a straight forward way for those, is there?

[2016-03-04 13:10] nfantone commented on #26
@geek @oliverzy Also, would you consider opening up the Trello board for the community? That way, anyone could see progress and/or vote up/down features and see what others would like to see implemented. It'd help re-organize priorities, as well.

[2016-03-04 15:45] rjrodger opened #362 "detect and terminate message loops"

[2016-03-04 15:48] rjrodger commented on #360
This is a valid, but undocumented (as yet) feature. It's purpose is to allow you to define custom data representations in logs. In the seneca-user case, you need to remove password hashes as you don't want those logged.

[2016-03-04 18:30] nfantone commented on #26
Just wanted to say, for future reference, that this:

[code]

Works wonders. Maybe we could include a mention in the tutorial?

[2016-03-05 20:05] geek commented on #26
@nfantone we have moved away from the trello board to plain old github issues and milestones!

Please fix the tutorial, its at https://github.com/senecajs/senecajs.org/blob/master/src/pages/tutorials/seneca-with-promises.md

[2016-03-05 22:31] nfantone commented on #26
@geek Will do!

[2016-03-07 07:20] mananjadhav opened #363 "subscribe is not a function"
Hi,
I am trying to run use seneca-pubsub plugin but it gives me following error:

[code]

I see the plugin uses decoration and probably thats where it is failing. Earlier I had seneca 0.7 and learnt that decorator support was added after 0.9. Is there anything else that has to be done to get it working? I also tried using decorators for another function in my code but it was in vain.

My seneca ve

[2016-03-07 10:08] MananJ commented on #363
Opened it with seneca-pubusb as well. But not sure if its a seneca decorator issue or plugin.

senecajs/seneca-pubsub#5

[2016-03-07 14:26] AdrianRossouw commented on #90
@rjrodger @geek

I just want to point out that logging is something that has come up in the gitter channel a few times.
we need a better solution to this, and  @mcollina was pointing out https://github.com/mcollina/pino to me today, and this came up.

[2016-03-07 14:34] mcollina commented on #90
I'm happy to help in adjusting pino and/or reviewing any changes to Seneca.
Also we should be able to have a post-processing utility to build a trace for a microservice invocation, and maybe generate a nice visualization of that too (cc @davidmarkclements for that!).

BTW, pino is 3x faster than bunyan and 5x faster than bole and winston.

[2016-03-07 14:41] rjrodger commented on #90
I feel it too - logging has been bugging me for a long time - it is due for update for Seneca 3.0 out Jun 14th. However we will start reworking immediately after Seneca 2.0 Mar 22nd!

[2016-03-07 16:05] wprl commented on #313
I tested this and received no warning messages when running these commands:

[code]

There is a warning generated by the installation of the `marked` package when running these commands in the current master branch commit (https://github.com/senecajs/seneca/commit/4f22c7d136fc78ac25a22c7730025d4482ae7716):

[code]

The warning message is `npm WARN prefer global marked@0.3.5 should be installed wit

[2016-03-07 23:05] #319 closed

[2016-03-08 14:15] AdrianRossouw commented on #90
@brycereynolds pinging you because tracing microservice invocation

[2016-03-08 15:30] davidmarkclements commented on #90
we also know how to shave another 100ms per log off of pino with a slight
alteration to log output (hint: toISOString is real expensive)

for microservice tracing I'm thinking I can recycle work (and knowledge
gained) from creating 0x and use it to visualize microservice tracing -
e.g. flame graphs for microservices (also sunbursts and treemaps).

On Tue, Mar 8, 2016 at 2:15 PM, Adrian Rossouw <no

[2016-03-08 17:24] mananjadhav opened #365 "Interface to write prior actions (intercepts) before executing any action/pattern."
Is there is anyway that I can have a function wrapped across for all the plugins.

I'll explain the use-case. We maintain a  version in our microservices built with Seneca. Now before processing any action, I want to check if the version is satisfied.

I checked `seneca.on('act-in')` handler in the seneca codebase, but its calls a handle_sub (sub without callback).

I was wondering if we can have

[2016-03-09 10:04] devotox opened #366 "Event emitter leak from Seneca"
[code]

[2016-03-09 14:32] cesarecontini opened #367 "Seneca JS HTTPS"
Hello,
does Seneca.js support SSL / HTTPS?

If so do you have any suggestion on how to configure it?

Regards,
Cesare

[2016-03-10 10:26] mcdonnelldean commented on #90
@davidmarkclements I think you should create a full thread for that, lots of interest being generated around that stuff, I'd like to see your thoughts on tracing.

On logs, yup, they are not even bad, they are dangerous, @mcollina and I spent 3 hours wasted on Tuesday chasing down an empty object that wasn't empty at all. Logs that manipulate the values they have been given are not useful.

@rjrod

[2016-03-10 14:11] devotox commented on #366
Definitely from seneca - confirmed

[2016-03-10 17:59] davidmarkclements commented on #90
pino spike,

I'd like to be the someone

On Thu, Mar 10, 2016 at 10:26 AM, Dean McDonnell <notifications@github.com>
wrote:

--
David Mark Clements Ltd is a company registered in Northern Ireland.
Registered number: NI617728. Registered office: Unit 22a, Pennybridge
Industrial Estate,
Ballymena, Antrim, BT42 3HB

[2016-03-11 11:40] manoj150283 opened #368 "How to run different seneca microservices on different host with seneca-mesh?"
Someone please advice me as how to run difference microservices on different hosts with service discovery using seneca-mesh.

I understand base mesh runs on port 39999 but when i am deploying base on different host and deploying one micoroservice on different host, somehow it is not able to communicate.

I tried putting host in to the mesh configuration for base and bases into the mesh configurati

[2016-03-11 11:47] japel commented on #26
@geek was just trying out the example at:
https://github.com/senecajs/senecajs.org/blob/master/src/pages/tutorials/seneca-with-promises.md#advanced-example

and got:
[code]

[2016-03-12 21:04] nfantone commented on #342
So... is it wrong if I handle the signal and call `seneca.close()` manually? Is that called automatically on `SIGINT` or `SIGTERM`?

[2016-03-14 03:59] immanuel192 opened #369 "Add act chaining in seneca"
Hi

I would like to add something like act chaining in seneca. I dont know whether it is already supported or not. Please kindly advice.

Let's say that we have 3 actions A,B,C which describe as below
{ cmd: "A" } => A
{ cmd: "B" } => B
{ cmd: "C" } => C

Normally we will invoke B in seneca by calling seneca.act({ cmd: "B" }, function (err, result) { } )

So if A wants to invoke B, then use the re

[2016-03-14 16:05] geek opened #370 "idgen is not a function"
Copied from: https://github.com/senecajs/seneca/issues/26#issuecomment-195335123

https://github.com/senecajs/senecajs.org/blob/master/src/pages/tutorials/seneca-with-promises.md#advanced-example

and got:

[code]

[2016-03-14 16:05] geek commented on #26
@japel looks like a bug, opened an issue here: https://github.com/senecajs/seneca/issues/370

[2016-03-14 16:26] m3l7 opened #371 "http url prefix"
hello,

I'm trying to set up a http proxy/balancer for my seneca configuration.
Let's say ms1 wants to call ms2: ideally an url like    http://proxy/ms2/act    would be perfect, so that the proxy can redirect the request to the proper host:port

The alternative would be to have n proxy installed on n different ports, each for a single ms cluster.

Is there a way to add a prefix to client calls?

P

[2016-03-14 16:30] geek commented on #367
@cesarecontini not at the moment, but there isn't a lot of work required to support them.  See https://github.com/senecajs/seneca-transport/blob/master/lib/http.js#L22 which is where the change will need to be made.  We are open to a pull request to add this functionality.

[2016-03-15 00:55] cesarecontini commented on #367
Hello @geek I've made some amends to the file as suggested and other files. Please see the pull request outcome @ https://github.com/senecajs/seneca-transport/pull/85

Regards,
Cesare

[2016-03-15 03:31] drahnieR opened #373 "seneca.export() doesn't initialize the transport/utils correctly"
Not sure whether this issue should belong to [seneca](https://github.com/senecajs/seneca) or [seneca-transport](https://github.com/senecajs/seneca-transport). If it's the later case, feel free to close it and i'll file it in seneca-transport.

So I have a transport plugin implemented as below

While in my application, if i init seneca with options, say `transport.msgprefix`, which is mentioned in

[2016-03-18 11:44] mcollina opened #374 "NPM tags"
I think we can do better on the tags on NPM, all those "startup", "mvp", etc things are not relevant anymore. Currently we have:

[code]

[2016-03-18 12:55] heskew opened #375 "client.act seems to fail when the input contains cmd: 'get'"
This behavior started with `1.4.0`.

Repro:
[code]

Expected output (via 1.3.0):
[code]

1.4.0 output:
[code]

[2016-03-18 13:27] AdrianRossouw commented on #375
try putting the code that registers the actions in a seneca plugin.

ie:
[code]

Also, this line create a completely new seneca instance:
[code]

[2016-03-18 14:04] heskew commented on #375
@AdrianRossouw: Thanks. Get the same behavior with a plugin. This repro is a super simplification of a larger application where tests broke after upgrading to 1.4.0. POSTing to the service still works, e.g. `curl -d '{"cmd":"get"}' http://localhost:10101/act`, so maybe it’s a problem in the client?

[2016-03-18 14:13] AdrianRossouw commented on #375
so the one change that happened recently was how pinning works
they basically tried to make the options handling async, where it was sync before
and this meant that pinning doesn’t work until the system has already been init'd
why i was thinking a plugin might help, is because the client stuff uses pins
so the .ready() might be firing before the system is completely ready to handle it
you’ll also

[2016-03-18 14:53] geek commented on #374
Happy to merge in a narrower set of tags.

Maybe: `microservice`, `toolkit`, `micro-service`, `service`

[2016-03-18 17:19] heskew commented on #375
Fun. :smile: In this repro the client results are out of order. The first one, `{cmd:’create’}` succeeds. Just tried a 10s delay on the act calls and it’s all the same.

[2016-03-20 21:59] jeltok commented on #281
I use Mongoose with Seneca as well, and I am using 'lean()' function of Mongoose. That works just great.

`        var query = Stats.find()
            .where('date', date)
            .where('eventType').in(events);

        query.lean().exec(...);`

[2016-03-20 22:00] cjnqt commented on #370
+1
I've seen this bug a couple of times when working with a promises.

[2016-03-21 08:38] cjnqt commented on #342
``A good practice is to handle the seneca.once('close' event. This should be triggered on a SIGTERM... then you can gracefully handle current requests.``

Any info available on the seneca.once('close' event?

[2016-03-21 12:19] mcdonnelldean opened #376 "Can a single pattern ignore the gate"
Based on this question,

https://github.com/senecajs/q-and-a/issues/3

I was wondering, can you pass a meta value to tell the gate to waiting forever for this particular action call?

[2016-03-22 14:17] platdesign commented on #318
What's the status on this?

[2016-03-22 14:30] psnider commented on #159
I've been away from seneca for a little while,
and am now trying to prepare the this TypeScript declaration file for publishing.

I have the declaration file working with a test file containing the code examples from http://senecajs.org/get-started/

I could use some help to correct some details in [seneca.d.ts](https://gist.github.com/psnider/0afa89e1bd2992756e55).
In particular, I want to make s

[2016-03-22 15:05] geek opened #380 "2.0.0 Release Notes"
## Summary

The only major change is that the `entity` plugin is no longer installed and used by default.

## Upgrade Steps

If you depend on `seneca-entity` you will need to add them back into your project.  Please update your `package.json` to include the [`senecia-entity`](https://www.npmjs.com/package/seneca-entity) module.  Afterwards, add a `seneca.use` statement to require it into your sene

[2016-03-22 15:32] timoweiss commented on #318
We are also experiencing this bug.
We have about 6 services (running in separate processes) and if we deploy/restart a consumer without it's producer, we get retransmitted messages.

[2016-03-22 16:21] #380 closed

[2016-03-22 19:25] mcdonnelldean commented on #318
@geek Just to chime in, I don't get this issue when transporting over mesh which is why it may not be visible on nodezoo, concorda, or vidi.

[2016-03-23 16:09] geek commented on #371
@m3l7 you may try [consul](https://www.consul.io/docs/agent/dns.html) which does support some balancing.  You can also use nginx and consul-template as a way to have a proxy that updates with changes to services.

[2016-03-24 00:57] geek commented on #318
I am open to any ideas on a solution.  Right now we listen for any process `SIGHUP`, `SIGTERM`, `SIGINT`, and `SIGBREAK` signals and call `close` on the seneca instance.  This removes all listeners and executes the pattern `role: seneca, cmd: close`.

[2016-03-24 16:01] rparies opened #381 "debugging with intellij"
I realize that this is about intellij , but the issue  is exclusively intellij and seneca. All my node apps debug fine with lots and lots of other packages.

If i run or debug an app using senecajs with intellij the app will run ok.
if i put in a break point anywhere the app hangs. Yes i realize this sounds like an IDE issue. which it probably is.

i am just wondering if anyone using seneca has su

[2016-03-24 17:40] geek commented on #375
@heskew

Ok, I ran through and updated the code a little... I was able to reproduce a single failure with `{ role: 'test', cmd: 'get' }`.  However, if you change this to `{ role: 'test', cmd: 'test' }` it works.  Here is the working code:

[code]

[2016-03-24 18:05] heskew commented on #375
@geek yeah it's that `cmd:'get'` that gets it. :) It's all good with 1.3.0 though. Not familiar enough (yet) with Seneca internals to know what could have caused this little glitch.

[2016-03-24 18:12] geek commented on #375
We do have `{role: 'options', cmd: 'get'}`

Marking this as a bug: we should either return an error when trying to add a pattern that won't work, or determine why the pattern won't be matched

[2016-03-24 18:14] geek commented on #376
When calling an action, you can specify `gate$: false`

[2016-03-24 18:14] #376 closed

[2016-03-24 18:18] heskew commented on #375
This problems seems to be just in the client btw. Not sure if you caught that in https://github.com/senecajs/seneca/issues/375#issuecomment-198374617. So the pattern works on the service side, just not from a Seneca client. E.g. integration tests (unit tests calling `act` against the same seneca object patterns were registered with are fine) and my convoluted example fail.

[2016-03-25 11:46] mcdonnelldean commented on #381
Generally most of the devs working on seneca are using lightweight text editors so it's probably never came up. My first assumption is this has to do with the gate executor but I'm not certain.

What place have you been putting break points. I *think* @ckiss uses webstorm.

[2016-03-25 14:11] rparies commented on #381
@mcdonnelldean , thanks for responding
i have tried in a couple of different places.

here is a very simple sample that i am using. if i put a breakpoint anywhere in here, when i start the debugger it hangs. when i kill the debugger, it then appears to ( in this example ) call the databaseService. if i remove the breakpoints and start the app , thing work as designed

thanks
randy

[code]

[2016-03-25 15:44] ckiss commented on #381
hi @rparies @mcdonnelldean, yeah I am using webstorm and I've been using the debugger in a couple of occasions and I had no issues.

@rparies not sure what you mean by app hangs when you put a breakpoint? isn't supposed to stop at the breakpoint?

[2016-03-25 15:55] rparies commented on #381
yeah its really weird. for example in the code above. if i put a breakpoint paymentService.act and start the debugger, the debugger never gets to or breaks at the paymentService.act,
so i though i would press the pause to see where i was at in the code and that did nothing. (sure sounds like IDE correct?)
At this point if i  kill the debugger then it seems to execute the paymentService.act.
if i s

[2016-03-28 05:03] platdesign commented on #318
@rjrodger I've looked through the implementation of seneca-transport/tcp. It seems, that `reconnect` inside of `send` is responsible for this bug. When the connection is reestablished (service.js comes up again), the callback of reconnect is called again. Wouldn't it be better if the connection is initialized outside of `send`?

@geek Its definitely a problem with the client implementation, not th

[2016-03-28 08:04] ckiss commented on #381
@rparies I haven't used intellij but if behaves the same in webstorm I assume it's from some configuration in WS. WS have some really good documentation about how to run & debug your Node.js app. Can you check this? https://www.jetbrains.com/help/webstorm/2016.1/running-and-debugging-node-js.html?origin=old_help

[2016-03-28 08:13] ckiss commented on #381
@rparies also you need to `.act` on `seneca.ready`. Check this [seneca ready](http://senecajs.org/api/#ready-callback-)

[2016-03-28 14:16] rparies commented on #381
thanks @ckiss. As far as the debug doc,  the problem is exclusive to seneca. All my other node apps run and debug just fine in the IDE

[2016-03-28 16:43] geek commented on #381
@rparies have you tried [node-inspector](https://www.npmjs.com/package/node-inspector) directly?  I have success with using it when a console.log won't cut it.

[2016-03-29 11:25] geek commented on #318
@platdesign thanks for the investigation details... I am working on a test case and resolution.

[2016-03-29 12:22] m3l7 commented on #371
ok, in my original idea I was thinking about having a nginx instance running on a single port, but configuring nginx to run in multiple ports is very simple and it can be done in a single config file.

I think this can be closed

[2016-03-29 12:27] #371 closed

[2016-03-29 12:45] AmitVirpara opened #382 "has no method 'make$'"
go and see the demo of this url ( http://senecajs.org/get-started/#data-storage ) it give some error.

2016-03-29T12:37:48.086Z 2qjcwukgh7lc/1459255068075/13039/- INFO	hello	Seneca/2.0.0/2qjcwukgh7lc/1459255068075/13039/-

/var/www/html/2microservice/datasorage/product.js:3
var product = seneca.make$('product')
                     ^
TypeError: Object Seneca/2.0.0/2qjcwukgh7lc/1459255068075/13039/

[2016-03-29 13:29] mcdonnelldean commented on #382
@naomifeehanmoran We need to get someone to go through the examples and update them.

@AmitVirpara This is because v2.0 removed entities as a default inclusion. To fix,

1. Install the module - `npm install seneca-entity`
2. Add the plugin `seneca.use('entity')`

You need to add the use statement before using make (generally at the of the file, before your logic but after you create the seneca ins

[2016-03-30 07:58] naomifeehanmoran commented on #382
thanks @mcdonnelldean will get someone on this

[2016-03-30 10:29] AmitVirpara commented on #382
thanks a lot, if possible to give me some useful example links or any kind of book or video link for learning purpose.

[2016-03-30 10:29] #382 closed

[2016-03-30 10:36] naomifeehanmoran commented on #382
Hi @AmitVirpara you can find some more examples, books and videos listed here http://senecajs.org/docs/

I am currently going through the examples to update, so please be aware that you may see the same issue as above.

Also you can join the active discussion on seneca here: https://gitter.im/senecajs/seneca

and here:

https://github.com/senecajs/q-and-a/issues

[2016-03-30 14:05] jeltok commented on #366
We are experiencing the same problem.

2016-03-30 12:33:54 +00:00: Trace
    at GateExecutor.addListener (events.js:239:17)
    at GateExecutor.once (events.js:265:8)
    at Seneca.api_ready [as ready] (/home/ubuntu/hardwell/hardwell-inbound-api/node_modules/chairo/node_modules/seneca/seneca.js:923:30)
    at Seneca.api_close [as close] (/home/ubuntu/hardwell/hardwell-inbound-api/node_modules/chai

[2016-03-30 14:57] ugo-buonadonna opened #383 "Seneca data entity management function not working"
Trying to run this simple code:

seneca().make$('foo');

Transpiled with babel:

var _seneca2 = _interopRequireDefault(_seneca);
function _interopRequireDefault(obj) { return obj && obj.__esModule ? obj : { default: obj }; }`(0, _seneca2.default)().make$('foo');

Leads to this error:
`TypeError: (0 , _seneca2.default)(...).make$ is not a function`

Seems like it just can't find make function, alon

[2016-03-30 16:11] AdrianRossouw commented on #383
Hey there @ugo-buonadonna.

This changed in seneca 2.0, as was mentioned in the release notes : #380
we are busy updating the documentation on the website to match.

To fix this, you should also `npm install --save seneca-entity`
and before you use seneca.make you should do `seneca.use('entity')`.

related: #382

[2016-03-30 16:11] #383 closed

[2016-03-30 16:37] naomifeehanmoran opened #384 "API request id param being overriden"
when running the shop example code from the getting-started repo, the id param passed to the request is being overridden by what looks like a system id.

### Steps to reproduce:

1. update getting-started package.json as follows:

`"dependencies": {
    "body-parser": "^1.13.2",
    "express": "^4.13.1",
    "seneca": "2.0.0"
  },
  "devDependencies": {
    "seneca-entity": "0.0.1"
  }`

2. update

[2016-03-31 07:37] dsaikiran commented on #146
Hi,
I need to catch that exception and handle it, how to capture that timeout / connection refused exceptions?

[2016-03-31 15:51] geek commented on #146
@dsaikiran seneca exposes the error event.  I am marking this as a request, we can also expose a timeout event, which I am open to accepting a PR on

[2016-03-31 15:57] MatthewBelkin1 opened #385 "Client timeouts are not passed to action's callback"
When an action that I invoke times out, the error message is only logged as a warning to the console, the error message is not passed to the callback provided when invoking the seneca action.  When you run the following example you will see a warning show up in the console, but the error is not reported to the provided callback (so the process hangs).

[code]

Output:
[code]

[2016-03-31 21:44] geek commented on #318
@platdesign see https://github.com/geek/seneca-transport/commit/4433348f2df0d7b939d6580e6ed88543348fd696 for how I am reworking things.

[2016-04-01 14:07] mcdonnelldean opened #387 "Problems with seneca.ready firing in 2.x"
I've spent a whole day wasted tracking issues to ready not firing. Should it be firing? Is it depreciated or should it be?

[2016-04-02 20:40] dpjanes opened #388 "seneca.make gone?"
with version 2.0.0, this code from the Getting Started page

    $ npm install seneca
    $ node
    var seneca = require('seneca')()
    var product = seneca.make('product')

says seneca.make is undefined. This works with version 1.2.0

[2016-04-02 21:49] mcdonnelldean commented on #388
Hey @dpjanes yeah we are in the middle of updating the docs. You just need to install and include a new plugin so

`npm install seneca-entity` and then `seneca.use('entity')`

[2016-04-02 21:49] #388 closed

[2016-04-04 16:16] pioneer32 opened #389 "In what way should we implement publish-subscribe pattern?"
I'm looking for a way to move our project from self-written bicycles to Seneca. At the present time, we use Nginx as a load-balancer for request-response-style services and RabbitMQ as message-bus for publish-subscribe messaging. I viewed a lot of materials regarding Seneca and its ideas, and I'm totally confused since I tried to find how to implement the following patterns that we use:
1. One pub

[2016-04-05 05:32] iantanwx opened #390 "Versioning and Blue-Green Deploys with AMQP"
Hi everyone,

Great work with Seneca. I am building a new project with Seneca at its core, which also happens to be my first SOA app.

My question pertains to using a message bus instead of http calls for inter service communication. Presently I have a front end api stubbed out, using a set of client Seneca plugins to provide an interface to each microservice. They're just a set of acts that get t

[2016-04-05 07:28] mirceaalexandru commented on #387
Maybe this is also related:

https://github.com/senecajs/seneca-web/issues/59

seems that this is not called in seneca:
https://github.com/senecajs/seneca/blob/master/seneca.js#L949

@geek here is an example:

[code]

with seneca 2.0 ready is never called, with 1.4.0 is called correctly

[2016-04-05 09:19] StarpTech commented on #318
@geek great, is it finished? When will you merge the PR ?

[2016-04-05 20:16] geek commented on #390
@iantanwx there is definitely not a correct answer for all occasions when it comes to this question.  One solution, though, would be to have a separate message bus instance for each of the environments you want to be able to switch between.

[2016-04-05 22:06] timoweiss commented on #389
Did you have a look at https://github.com/rjrodger/seneca-mesh
When registering the plugin, you could define the `model` property inside `listen` according your needs:
[code]
`consume`: request-response
`observe`: subscribing (without supplying a result)

Disclaimer: I just set up some tests to play around with this. I haven't used it in prod so far. But maybe @mcdonnelldean could have a look at t

[2016-04-06 14:09] tfoutrein commented on #235
The bug is always present in the last version of Seneca ("seneca": "^2.0.0",)
when I put the --seneca.print.tree flag i have no tree in the console

[2016-04-06 14:19] tfoutrein opened #392 "Loghandler undefined"
Hello
When i try the exemple on the Loggin with seneca page / Log handlers i've always the same result :

**TypeError: Cannot read property 'file' of undefined
**

so i can't manage the log configuration of my microservice
i've the last version of seneca , here is my package.json file
[package.zip](https://github.com/senecajs/seneca/files/206578/package.zip)

thank you very much in advance

[2016-04-06 15:29] bnusunny commented on #388
Please do update the document. This could save people's time and avoid the frustration for the new comers.

[2016-04-07 00:20] psnider commented on #154
I'm working with seneca again, and noticed that I can't find a (seneca) way to expose internal helper functions for testing. Is there a method for accessing functions that are internal to a plugin?

For now, I'm moving to a pattern of:
- writing a module that contains my business logic (as usual)
- creating a seneca plugin that *require*s my business logic modules,
and provides a thin wrapper arou

[2016-04-07 07:06] AmitVirpara opened #393 "left join query using mysql-store"
how to create left join query using mysql-store

[2016-04-07 08:34] mihaidma commented on #393
@AmitVirpara seneca stores doesn't support at this moment left join with mongo style syntax but you can make direct queries like in the following sample:
https://github.com/senecajs/seneca-store-test/blob/master/store-test.js#L1087

[2016-04-07 09:10] ro70 opened #394 "using seneca tcp client with non-seneca tcp server"
Is this possible at all? If yes, how do I have to do it? What server response is the seneca client expecting exactly? I could post some code sample of my trials if that would help...

[2016-04-07 10:00] iantanwx commented on #390
@geek thanks for the help!

Correct me if I am wrong -- using the proposed method, I would have to:

1. Set up a new RabbitMQ cluster in the prod VPC
2. Set all producers and consumers to connect to the new cluster using env vars or such
3. Restart all producers and consumers to connect to the new cluster when I want to switch to a new version of a microservice

Would this not introduce down time

[2016-04-07 12:41] tfoutrein commented on #392
Can you help me please ?

[2016-04-07 16:58] ro70 commented on #394
Seems that I found a solution. For whomever is interested in:

The tcp-server receives a json like the following from the seneca-tcp-client:
[code]

The tcp-server has to respond to the seneca-tcp-client with a json like:
[code]
Don't forget to send an "\n" to mark the end of your message.

[2016-04-07 17:05] geek commented on #394
@ro70 awesome!  I am not sure where it fits, but happy to add documentation for this.

[2016-04-07 17:29] geek commented on #392
@tfoutrein can you link to a gist with your code and the output you are getting.

[2016-04-07 21:33] geek commented on #318
@StarpTech please help review the fix: https://github.com/senecajs/seneca-transport/pull/86

[2016-04-08 02:38] geek commented on #390
@iantanwx its one idea, definitely not the correct answer for all occasions... but it would allow for two separate environments to switch between.

That being said, your original idea of adding a version to the messages should also work and prevent you from needing separate rabbit instances.

[2016-04-08 03:34] iantanwx commented on #390
@geek Thanks! I am now starting to favour direct good old HTTP with something like Swarm and Consul over a message bus. It just seems that a message bus would add too much operational and code complexity to a project that's already complex as it stands.

[2016-04-08 03:37] iantanwx commented on #390
@geek looks like it's time for me to fire up my Pi cluster and test both methods out.

[2016-04-08 03:47] geek commented on #390
@iantanwx agreed, take a look at http://containerbuddy.io/ if you are using consul.

[2016-04-08 06:25] iantanwx commented on #390
@geek is there a difference between containerbuddy and registrator?

[2016-04-08 08:16] mihaidma commented on #393
@AmitVirpara I will close this issue, please reopen if there are more issues

[2016-04-08 08:16] #393 closed

[2016-04-08 09:12] japel commented on #370
Any news on this? Anyone else experiencing a similar behavior?

[2016-04-08 11:12] AmitVirpara commented on #393
thanks

[2016-04-08 14:57] MatthewBelkin1 commented on #385
I believe this is a bug.  Whenever I do not get a response from a seneca action (`role:test,cmd:ping` in the above), it forces my seneca process to timeout; what I expect to happen is the callback being called with an error after the client timeout occurs.  Should this be moved over into seneca-transport issues?

[2016-04-08 15:07] StarpTech commented on #318
@geek here are my recommendations:

- we could respect this issue hapijs/hapi#3014 to improve the performance of JSON.stringify
- we could respect circular references in JSON (instead to throw an exception) to improve availibility.

Best solution: Use http://msgpack.org/ to stream JSON over network. It is very easy to connect.

everything else is fine thank you.

[2016-04-08 17:09] mcdonnelldean commented on #389
@pioneer32 Yeah so we use mesh and two sets of patterns when we want something like above. I'm currently writing some stuff with Redis queues to see how that works out. I'll ping you a link when done. You can also write custom transports if needs be, that would allow you to link to seneca how you like.

[2016-04-10 15:44] StarpTech opened #395 "Seneca don't respect default$ parambulator rule."
Seneca: 2.0.0

Issue 1:
Define an action
[code]

Call an act and get this as result:
[code]
 `level` is not prestent in the message (undefined).

Issue 2:

Define an action
[code]
Now I can send an empty payload and it will be validated as valid.
[code]

[2016-04-10 20:11] mcdonnelldean commented on #395
I don't see anything obvious in the code to see why this isn't working? What code are you running? I want to maybe add some tests to prove this out.

[2016-04-10 20:13] mcdonnelldean commented on #392
@tfoutrein On the pages there is a little funny icon that lets you select the sub heading of the section you are reading. Can you post that link here? That way we can see which part of the tutorial you are having issues with.

As @geek if you put your code in a gist it would really help.

[2016-04-10 21:41] StarpTech commented on #395
@mcdonnelldean full example:

[code]

[2016-04-10 23:10] mcdonnelldean commented on #395
@StarpTech What are you getting from the error object?

[2016-04-10 23:16] mcdonnelldean commented on #395
Nevermind, I just ran, it looks like it's chewing it up and not reporting errors. I've not used this stuff before so it will take a few days to drill down. If @geek is free he may be able to take a look too. I'll leave it as investigate for now and mark as a bug as soon as I get speaking to someone who knows their way around parambulator.

[2016-04-11 08:28] StarpTech commented on #395
@mcdonnelldean @geek I tried this sample with the parambulator (1.5.1) validator and it worked. You can mark it as bug.

[2016-04-11 16:28] naomifeehanmoran commented on #384
Hey @geek any update on this? :)

[2016-04-11 20:10] geek commented on #384
@naomifeehanmoran unfortunately not yet.  I removed myself from the assignment as I will likely not get to it this week.

[2016-04-11 21:34] StarpTech commented on #318
@geek would be great if you can finish this issue with your PR. This issue is almost 3 month old and its a huge bug for all people who trust in the TCP transport. Any critical application run into big problems. We had to change all seneca instances to HTTP. Thanks!

[2016-04-11 22:27] mcdonnelldean commented on #384
@naomifeehanmoran Just a heads up on this. I got it with entities too. The problem is entities is setting the id to be the id of entity when it loads.

[2016-04-12 10:35] mcdonnelldean opened #397 "Logging Rethink"
Logging needs a rethink, my thoughts.

- Contain a lot of unneeded information.
- Don't capture highly valuable internal information and stats
- Are not json based
- Have truncation errors meaning they are lossy
- Aren't easily pipable

In terms of logging, I would love to get a week of @mcollina's time to bring in pino. Pino is wicked fast and has sub loggers which dovetails perfectly with our pl

[2016-04-12 10:48] tfoutrein commented on #392
Hello, my problem concern this part of the tutorial http://senecajs.org/tutorials/logging-with-seneca.html#log-handlers

and here is the gist https://gist.github.com/tfoutrein/710f179be7f0e8eb00525b8b22d9218a

thank you in advance for your help

[2016-04-12 10:59] mcdonnelldean commented on #392
@tfoutrein Super, it will be a little while before we get back to this but I'll check the example and see if there are issues

[2016-04-12 12:12] tfoutrein commented on #392
but it's very annoying for me , i can't manage the log system without this or just with the command line system and that's not very practical

[2016-04-12 13:04] mcdonnelldean opened #398 "Error Handling Rethink"
Error handling needs a rethink, my thoughts here,

- err is not always respected, many types of errors instead cause timeouts
- Lots of options that do sort of the same thing, errhandler, .error, seneca.on('error')
- Cryptic error messages, feeded by logging
- Greedy handling, testing with an Exception Assertion based lib requires weird hacks
- Exception trapping, are we being too cautious?
- Cryp

[2016-04-12 13:05] AdrianRossouw commented on #398
@rjrodger what release did you want to tackle error handling/logging for ?

[2016-04-12 13:05] mcdonnelldean commented on #398
@AdrianRossouw It's be major for sure.

[2016-04-12 13:24] Wardormeur commented on #398
We're not on the lastest cause, well, time & priority. Also, some of my remarks may be related to how our stack is built, so that it may not be relevant.
From a 2 months of dev perspective, the need to have the possibility to understand from WHERE a call has been done before failing (when having cross microservices calls) is crucial from a debug perspective.
Also, yes, the truncated messages are..

[2016-04-12 13:36] mcollina commented on #397
Here are my priorities about logging in Seneca:

1. logs needs to be in newline delimited JSON, because that is a portable format that is easy to process
2. most of the smarts about logging will happen outside of seneca through post processing
3. I want to be able to extract from a set of logs all lines that are relevant to a specific transaction (=== a flow of acts) via a post-processing tool. Th

[2016-04-12 13:37] mcollina commented on #398
**I would like a major bump to remove the timeout on messages**, and possibly adding it back as a "filter" or plugin for some very specific microservices. I think the timeout is awesome for entry-point microservices, and maybe for Chairo.

[2016-04-12 13:53] AdrianRossouw commented on #397
I especially agree with point 5 that matteo made. I seriously doubt we have anything that is busy consuming the existing seneca logging, so the likelihood of us breaking anything by just replacing it outright is miniscule.

[2016-04-12 13:59] mcdonnelldean commented on #397
@mcollina @AdrianRossouw Understand though that this will require changes to plugins before they become usable, I'm happy with either call but we need to assess the impact to plugins.

[2016-04-12 14:01] mcdonnelldean commented on #398
@mcollina Do you want seneca to hang in the case of a block at the other side? I'm trying to work out how we could do this and want to be clear as possible.

[2016-04-12 14:01] mcdonnelldean commented on #398
Just a heads up @Wardormeur manages CoderDojo's Zen platform.

[2016-04-12 14:19] mcdonnelldean commented on #363
Closing here, it's an issue on pubsub side.

[2016-04-12 14:19] #363 closed

[2016-04-12 14:19] mcdonnelldean commented on #367
Closed as complete. Awating merge and release

[2016-04-12 14:19] #367 closed

[2016-04-12 14:21] mcdonnelldean commented on #368
Hey @manoj150283 Your best to ask plugin specific questions on the plugin repo, if you follow this link it will take you to a new issue on the correct issue.

- https://github.com/rjrodger/seneca-mesh/issues/new

Cheers!

[2016-04-12 14:21] #368 closed

[2016-04-12 14:21] mcdonnelldean commented on #356
Related to #398

[2016-04-12 14:23] mcdonnelldean commented on #385
Related to #398

[2016-04-12 14:23] mcdonnelldean commented on #389
Closing for now @pioneer32 If you need any more help feel free to reopen.

[2016-04-12 14:23] #389 closed

[2016-04-12 14:24] mcdonnelldean commented on #387
Related to #398

[2016-04-12 14:26] mcdonnelldean commented on #394
Closed and moved to document request Cheers @ro70

[2016-04-12 14:26] #394 closed

[2016-04-12 14:28] mcdonnelldean commented on #369
We do have chaining, I need to investigate if it works post 2.0. Once I have more I will report back.

[2016-04-12 14:31] mcdonnelldean commented on #362
Related to #398

[2016-04-12 14:32] mcdonnelldean commented on #347
Related #398

[2016-04-12 14:33] mcdonnelldean commented on #306
Should be sorted now

[2016-04-12 14:33] #306 closed

[2016-04-12 14:34] mcdonnelldean commented on #342
Related #398

[2016-04-12 14:37] mcdonnelldean commented on #314
Next push up I will lint.

[2016-04-12 14:37] #314 closed

[2016-04-12 14:38] mcdonnelldean commented on #127
Tests are automated in the context of this card (pre coveralls)

[2016-04-12 14:38] #127 closed

[2016-04-12 14:39] mcdonnelldean commented on #134
Related to #397 and #398

[2016-04-12 14:40] mcdonnelldean commented on #108
This has now landed I believe.

[2016-04-12 14:40] #108 closed

[2016-04-12 14:41] mcdonnelldean commented on #26
Issue on bug is open, see tutorial for how to enable.

[2016-04-12 14:41] #26 closed

[2016-04-12 14:42] mcollina commented on #397
So, I think there is a point in having a child logger for each plugin, but we still need to log each message id.

Can I get rid of `--seneca.log=level:info,type:plugin,handler:print` and support that behavior maybe via a transform to apply by some other process (maybe we can even add some of this behavior in pino cli).

How is the support for tracing the correlation between messages through servic

[2016-04-12 14:48] mcdonnelldean commented on #397
Yeah, so feedback on the ground seems to be people expect logging to work like others, that is you connect to it and have various ways to mulch the data. That's pretty much how all loggers do it and I would strongly consider standardising on that like you say @mcollina

Bear in mind we have two concerns, that of the framework and service, and that of the business logic, If I can pull logs out for

[2016-04-12 14:49] mcdonnelldean commented on #398
Added related issues.

[2016-04-12 15:11] mcollina commented on #397
I say something slightly different. I do not want a plethora of transports/rotation/etc to be reinvented and used, which is what the other loggers do. Pino is built on the assumption that all of this post-processing will happen outside of the main node process. Node just log to stdout or to a file. This fits very well a cloud/microservice deployment, which is our main target.

Can you please make

[2016-04-12 15:33] AdrianRossouw commented on #398
The timeouts were responsible for cascading failures at higher loads on a system that I worked on before.

Poor design decisions around how entities were used meant that each entity load / list would fan out into multiple actions loading more entities, until eventually the node callback queue would get so long that the time it takes to respond to an action would surpass the hardcoded seneca messag

[2016-04-14 14:58] naomifeehanmoran commented on #318
@StarpTech @platdesign @timoweiss thanks for the feedback. We will get someone on the related PR to close it out asap. We understand that this issue has been open for some time and are endeavouring to resolve it as quickly as we can, so please bare with us!

[2016-04-15 10:50] AdrianRossouw commented on #384
this looks like ti might be occurring somewhere in here : https://github.com/senecajs/seneca-mem-store/blob/master/mem-store.js#L72

[2016-04-18 09:04] mcdonnelldean commented on #318
Reviewing this today.

[2016-04-19 13:53] #335 closed

[2016-04-19 13:54] mcdonnelldean commented on #209
@edimoldovan I would say Nodezoo is the best sample we have now. https://github.com/nodezoo It shows how to build a complete seneca system.

[2016-04-19 13:54] #209 closed

[2016-04-19 13:57] mcdonnelldean commented on #342
Folks we are redoing error's in the next version or too, this will come with proper docs. See https://github.com/senecajs/seneca/issues/398

[2016-04-19 13:57] #342 closed

[2016-04-19 13:58] mcdonnelldean commented on #390
I'd say this is best moved to https://gitter.im/senecajs/seneca :D

[2016-04-19 13:58] #390 closed

[2016-04-19 14:00] mcdonnelldean commented on #381
@rparies I have a feeling this has to do with the gate executor and error handling in seneca. These are coming out in the next couple of versions. For now there isn't anything I can see to resolve it. As soon as those two features come out I'll update this thread.

[2016-04-19 14:00] #381 closed

[2016-04-19 14:03] mcdonnelldean commented on #366
Hey @devotox Can you show the code you are running? I've looked over the tests and I'm not getting leaks.

[2016-04-19 15:31] mcdonnelldean opened #399 "Transport V3 Roundtable"
This issue is a place to hash out the message spec and other salient details of transport.

The proposed spec is here: https://github.com/senecajs/seneca/blob/master/doc/transport.md

[2016-04-19 15:32] pibi opened #400 "seneca.use internal timeouts and high cpu and memory usage"
Hello
I'm opening this issue after a discussion on gitter.
My problem: I'm working on a API server with many APIs grouped by roles. These API are exposed from an API-gateway and every role matches a microservice.
A single API is quite simple: an HAPI route that acts the related role and command, packed in a seneca plugin.
APIs plugins are located in a folder, on startup a loader plugin reads all t

[2016-04-19 15:39] mcdonnelldean commented on #399
My initial comment on all of this is thus,

I don't want to get dragged down a specification bikeshed. We can iterate over time, let's keep it practical to implement but useful to consume before we start adding too much to it.

[2016-04-19 15:40] StarpTech commented on #395
@geek @mcdonelldean any updates?

[2016-04-19 15:41] mcdonnelldean commented on #399
Point 2. Is there any chance of dropping the `$` and just dropping a level. This gives us tons more structure to play with and gives us the concept of header / payload.

[2016-04-19 15:43] mcdonnelldean commented on #395
@StarpTech No. Currently I'm working on the TCP reconnect issue, there is a bug in the new implementation. @geek Is away for a while so not working. If you can add a test case to the suite it would speed things up. As it stands TCP wins in priority.

[2016-04-19 15:45] StarpTech commented on #318
@mcdonnelldean any progress?

[2016-04-19 15:48] StarpTech commented on #395
@mcdonnelldean thanks I will try to write a test.

[2016-04-19 15:50] rjrodger commented on #399
@mcdonnelldean [Au contrary Rodney!](https://www.youtube.com/watch?v=gnhYzfg7ug4)

Protocol design is one of those things to [think hard about from day one](http://networkengineering.stackexchange.com/questions/7928/why-are-ipv4-addresses-32-bit) (which I did not do! and we're paying for it now).

@mcollina One of the major drivers for this meta data is to enable context independent debugging. You

[2016-04-19 15:50] mcdonnelldean commented on #318
@StarpTech Yes, I've been adding progress to the PR. It looks like the new implementation works but it has a regression that stops .client() calls from being idempotent. All other tests pass so once this is done it should be ready.

[2016-04-19 15:54] mcdonnelldean commented on #399
@rjrodger [Let's just leave this here](https://hueniverse.com/2012/07/26/oauth-2-0-and-the-road-to-hell/) :D

I'm a fan no doubt but I would like to ensure we don't end up with the seneca-transport-spec-working-group is all.

[2016-04-19 15:57] StarpTech commented on #318
@mcdonnelldean what do you think about my recommendations?

[2016-04-19 15:57] mcdonnelldean commented on #400
@pibi Can you remove the call to ready to test if it's a determinate issue? So basically pretend it doesn't exist. I'm working on a hunch that ready and loading might be the issue.

[2016-04-19 16:02] mcdonnelldean commented on #318
I haven't considered them yet as it's not working. We are discussing transport generally in #399 Msgpack is not something that would be landed in this PR.

[2016-04-19 16:09] mcollina commented on #399
So, here are my notes:

1. the metadata being moved it is a lot. Most of this can be implied because of the medium being used (direct TCP?). I would prefer to say that generally a seneca message has this metadata, rather than a JSON spec. Also, a more direct explanation on why each field is needed would be extremely helpful
3. I am ok with the given JS representation of the message, but some of th

[2016-04-19 16:16] mcollina commented on #399
@rjrodger I agree, we should design and measure. @mcdonnelldean can you pop by some message exchange from NodeZoo/Vidi/* so we can be inspired and make decision on top of this? We should really make examples for this stuff anyway.

The question regarding metadata is highly important, because currently we are using `seneca.act()` for interacting with the transports/entities as well. In theory, all

[2016-04-19 16:22] mcdonnelldean commented on #399
@mcollina I can post some of these up later, great idea. On your other question. I think it might be useful for @rjrodger to spec out how correlation should happen, this is ultimately what most of the meta is for, based on examples plus a flow we would be in better shape to discuss changes.

[2016-04-19 16:42] rjrodger commented on #399
@mcollina those transport and entity actions are out-of-band setup messages - ie one time on init.
For normal messages, the flow chain should not be that deep.

It does raise the question of having a [TTL](https://en.wikipedia.org/wiki/Time_to_live) as a safeguard against loops or deep chains (both of which should be avoided in practice)

[2016-04-19 16:46] pibi commented on #400
I'm not sure you are referring to #387, but we got the problem also with seneca 0.6.5.
btw, I will do the check, thanks!

[2016-04-19 16:53] mcollina commented on #399
@rjrodger I agree on TTL, that mechanism need to be part of the spec.

Moving these metadata across messages should be done by the framework, but there should be an easy way I could get around this too (if I want to restart the chain).

[2016-04-19 17:02] pibi commented on #400
@mcdonnelldean Just tried. Removing the seneca.ready() doesn't solve the issue.

[2016-04-19 17:11] rjrodger commented on #399
@mcdonnelldean ah that's actually the current structure - which is an envelope model - which is what we want to get away from. The problem with an envelope is that you're imposing structure which makes interop harder. With a namespaced internal property you can accept pretty much any old JSON doc - much easier to integration work

[2016-04-19 17:21] mcollina commented on #399
You ok with me rephrasing this as a data structure which sits within the message rather than a JSON document? I'll send a PR then.

My point of view is that we shouldn't really care if we do envelop model or something else. That should be part of the protocol "on the wire": let's focus on the data structures and the interaction models. I might want to put the metadata in a header because of raw pe

[2016-04-19 17:22] mcdonnelldean commented on #399
@rjrodger I hadn't considered it this way. Reading through more thoroughly I hadn't considered the portion explaining how it is constructed.

@mcollina I will defer to Richard on yourself on this one, so far I have no major opinion outside of disliking using $ for namespacing.

[2016-04-19 17:31] mcdonnelldean commented on #399
@mcollina I'll be updating the initial posts with samples as I get them

[2016-04-19 17:58] rjrodger commented on #399
@mcollina that's easy - this meta data is never used for calls inside process - it's for over the wire comms

@mcdonnelldean that's why $ is great for namespacing internal mechanics - no one uses it by choice as yuck :)

[2016-04-19 18:01] mcollina commented on #399
I'm not 100% convinced: I think tracking all the relevant bits are important as in the microservice-to-microservice comms, not just across hosts. Moreover, we might lose important pieces of information if this is not present every time (like tracking ids).

[2016-04-19 18:06] mcdonnelldean commented on #399
@rjrodger I can't really argue that point any further.

@mcollina I'll have intra process metas up for you tomorrow so you have a clearer picture of whats there now

Kindest Regards,

Dean

[2016-04-19 18:30] rjrodger commented on #399
@mcdonnelldean dude! Just getting warmed up here
https://m.youtube.com/watch?v=HjjDOdaFZg0

[2016-04-19 19:04] mcdonnelldean commented on #399
Ha don't worry there will be plenty more to put heads on :D

[2016-04-19 20:37] psnider opened #401 "leak from plugin when using toString on large data"
I've encountered a severe memory leak when an external service started sending very large XML responses (~40MB).

_Note that there are some bug reports in node with very large strings leaking, but they must be around 250MB, and seem to be unrelated to this issue. Also , I couldn't reproduce this problem when I don't use seneca._

node v5.0.0
seneca ^1.3.0

Here is minimal code I use from a REPL th

[2016-04-19 21:42] mcdonnelldean commented on #401
@mcollina Any high level thoughts on this?

[2016-04-19 22:28] devotox commented on #366
It spans multiple files but the GateExecutor.addListener does not seem to remove the listener in a timely fashion.

[2016-04-20 02:22] psnider commented on #401
FWIW:
- [Fatal Error (Abort) creating string larger than 268435440 bytes](https://github.com/nodejs/node/issues/1374)
- [src: fix memory leak in ExternString](https://github.com/nodejs/node/pull/2402)

[2016-04-20 02:30] psnider commented on #401
Also, I changed generateLargeBuffer() to use 10% of the size, 4363201,
and I still see the problem.

[2016-04-20 02:43] psnider commented on #401
And changing generateLargeBuffer() to use a smaller size buffer of 4*1024, with enough calls to match the volume of memory of the preceding ~4MB test, yields similar results.
[code]
So it doesn't appear to be related to the size.

[2016-04-20 07:34] pelger commented on #399
@rjrodger @mcdonnelldean @mcollina Just catching up on this thread.

1). Need to add the protocol version number to the metadata. To be clear this is the protocol version and not the seneca version and will vary independently.

2). A TTL field is an efficient way of implementing loop avoidance so I tend to agree with this point. This requires careful implementation and consideration needs to be gi

[2016-04-20 08:26] mcdonnelldean commented on #399
@pelger Both @naomifeehanmoran and @AdrianRossouw are working on trimming down the volume of plugins we currently support. Let's codify the transport list today so we know what ones are considered 'blessed'.

[2016-04-20 08:43] rjrodger commented on #399
@pelger

version number +1
also redis - that gives you pub/sub
"type" should be "kind", if you recall, or now "knd" :) - that said, there is the "usr" section for extensions, so not sure

[2016-04-20 09:28] mcdonnelldean commented on #366
@devotox Thanks a mill for the feedback. I'm down in the bowls of it for the next two weeks so I've marked this as being investigated. Let me see what I find.

[2016-04-20 10:09] mcollina commented on #399
@rjrodger can you please articulate more about redis for pub/sub?

To the best of my knowledge, there is no (current) way of subscribing to a broker with a seneca pattern. So, pubsub is limited to broadcast, or fixed patterns. I will limit pub/sub only to the "fire and forget" semantic. Because it can have 0-unlimited answers.

I think we should support three use cases:
1. memory, I would consider

[2016-04-20 10:26] mcdonnelldean commented on #399
@mcollina Request Response needs to work over tcp only too (no http) we have community members using this, I'll root out the issue.

I would love to see streaming via tcp if it can be added in such a way that doesn't break the world.

Mesh shouldn't impact as such, it is only using the swim protocol to figure out what is where. It defers to seneca-balance-client, which defers to a given transport.

[2016-04-20 10:38] mcollina commented on #399
Talking about breakage: one thing is to break at API-level, one thing is to break at protocol level. So, is it expected that a Seneca v3 can talk with a Seneca v4? Changing the protocols will break things. I argue no, a Seneca v3 instance would not talk with a Seneca v4. After we break the protocol, we can support it through more releases.
That's why we need a version number.

I think pubsub needs

[2016-04-20 11:10] mcdonnelldean commented on #399
@mcollina V3 and V4 need to talk, as do V4 and V5 but not V5 and V3. Single major backwards is the deal. This may mean we have to build in some negotiation logic or you may need to add a plugin to support negotiation. What we did with Entities was to just wrap it all in a plugin and pull it out, if you need back compat you load the plugin. I'm fine with this as a 'code change' as it's a compositio

[2016-04-20 12:25] psnider commented on #401
And I have confirmed that when I rework my main program
 to make direct calls instead of using seneca for the one problematic message,
memory management works as expected.

[2016-04-20 14:40] pelger commented on #399
@rjrodger - agreed on 'knd'

[2016-04-20 14:57] mcdonnelldean commented on #397
@mcollina @davidmarkclements This is the logging thread. Can you add your additions here. Matteo it might be an idea to put down the pros and cons you mentioned on the call.

Right now I would prefer something that gives me the easiest access to analysis otherwise they are not terribly useful (so I agree with you). Lets get them here for clarity

[2016-04-20 15:35] mcollina commented on #397
Here it is @mcdonnelldean, folks, please provide your input before we start pursuing one direction or another :).

We have some goals:

1. JSON logging by default
2. some sort of logging standard for tools to process the logs
3. extremely lightweight

So there are two options:

1. adopt another logger API
2. develop a simple wrapper around loggers

### Adopt another logger API

The JSON loggers ar

[2016-04-20 15:49] mcdonnelldean commented on #397
Adopt a logger is my choice, Logging is a huge area of maintenance that I don't want to deal with if possible. I'd move rather a powerful, easy to consume logger that a swappable one. @rjrodger thoughts?

[2016-04-20 17:50] davidmarkclements commented on #397
I'm not convinced the event emitter wrapper is a good idea. It will degrade performance - and the additional indirection will make tracing the origin of a log message more complicated

We probably do need some kind of interface though, but purely for instantiating a logger

e.g.

[code]

This would support `pino` and `bunyan` immediately - e.g. `seneca.set('logger', require('pino'))`,
and other lo

[2016-04-20 20:03] mcollina commented on #397
I think we can even go with `seneca.set('logger', pino())`. That will be simpler to configure, given that we won't have to do it in seneca. To reiterate, I think we should not bother with instantiation (apart from the default one)

[2016-04-20 21:06] mcdonnelldean commented on #397
@davidmarkclements @mcollina I'm happy with the spirit of this. Seneca doesn't have a .set method (that I am aware of) now. This would be the first time seneca has an internal 'thing' that could be set externally that doesn't interface with messages (like a traditional plugin). So basically we need the set functionality too.

I agree with @mcollina on just accepting the preconfigured instance, alt

[2016-04-20 21:15] davidmarkclements commented on #397
@mcdonnelldean no there's a difference

I'm suggesting that `set('logger', fn)`  where `fn` is a function that returns an object with the appropriate logger methods/props @mcollina is saying  `set('logger', obj)` where `obj` is the logger object (e.g. pino instance, bunyan instance etc).

My approach delegates logger configuration to seneca, Matteo's delegates logger configuration to the instantia

[2016-04-20 21:18] davidmarkclements commented on #397
btw it doesn't have to be `set`, we could use the current approach

[code]

[2016-04-20 21:19] marcopiraccini commented on #397
+1 for `seneca.set('logger', obj)`.
However, from my point-of-view, the real issue is about correlation. We must agree on a model with which it's simple to reconstruct (with tools) what its -well- correlated :).  I'm not sure I understood the "corrlation through nested contexts" above.

[2016-04-20 21:32] mcdonnelldean commented on #397
@marcopiraccini You might be interested in #399 There is a doc there that is being discussed. This will form the basis of correlation too I think. Would be great to have comments on this and the other issue.

@davidmarkclements Yeah I thought that. And you bring up an interesting issue...

Lets all talk about the elephant in the room. We can't break old logging in a single version. Old logging is

[2016-04-21 06:58] mcollina commented on #397
@mcdonnelldean define breaking, as it means two things 1. breaking the log format (which we agreed on) and 2. breaking the API.

I propose that we redo the logging API, and then we wrap the new logger in the old API, and we gradually phase out this using a config variable.

 So, my preference goes for:

[code]

This is compatible with the current API, so it should be easier to implement.

[2016-04-21 16:15] tswaters opened #403 "no matching pattern found..."
I've cloned the 'getting-started' repo and am trying to run math-pin-client and math-pin-service.  When running the client after the service is running, it returns an error:

It's able to run the local 'say:hello' fine if I comment out the remote call.

I'm running this from Windows 10.
The package.json of getting-started references 2.0.0

node --version
5.10.1

Is there something I'm missing here

[2016-04-21 16:20] tswaters commented on #403
Shoot.  This can be disregarded.

I had a change in 'math.js'  that was causing it to fail.

My bad!

[2016-04-21 16:20] #403 closed

[2016-04-22 11:27] rjrodger commented on #398
Please also note: http://senecajs.org/contribute/principles.html - Continuity

Error handling rethink != major breakage is acceptable.

The challenge here is not just to rethink the error handling, but also to ensure you have a backwards compatibility path. That means code that depends on the old way still needs to work, by using an option, or a plugin.

The rule for major releases is: one line of

[2016-04-22 15:13] davidmarkclements commented on #398
@rjrodger - I wonder if, for each area, can we have a two step approach?

## Step 1 - unencumbered reimagining
here thoughts can run free, protocols/implementations do not consider backwards compatibility

this would be "seneca-next-next"  ... postmodern seneca

## Step 2 - shimming
once we have nailed down "the best way" then we figure create an adapter that delivers
backwards compatiblity.

If n

[2016-04-23 17:36] mcdonnelldean commented on #180
Closing this out in favour of a new issue in V.next. Once we have errors and logging in place we will be in a much better position vis a vis deprecating features.

[2016-04-23 17:36] #180 closed

[2016-04-23 17:37] mcdonnelldean commented on #374
@mcollina We can roll this up with the new pre versioning stuff.

[2016-04-23 17:37] #374 closed

[2016-04-23 17:40] mcdonnelldean commented on #356
@DigitalLeaves we are redoing error handling to make it more sensible as part of #398 I'm going to close this as a merge because we will be adding switches like above to make everything more sane.

[2016-04-23 17:40] #356 closed

[2016-04-23 17:42] mcdonnelldean commented on #354
@nicholaschantcs So unfortunately they aren't willing to share as it's commercially sensitive. This is functionality we will be looking at in a demo app in the second half of the year. It's a while away but it is on the way. Outside of that it might be an idea to ask on our gitter channel. Closing for now.

[2016-04-23 17:42] #354 closed

[2016-04-23 17:44] mcdonnelldean commented on #267
Closing as we are going to keep the feature for now. Regular require is our recommend way to go when using babel or other similar tools.

[2016-04-23 17:44] #267 closed

[2016-04-23 17:46] mcdonnelldean commented on #326
@andriy-zhelvachenko This will be overhauled as part of #398. Right now you need to use a full error object to get it to work.

[2016-04-23 17:46] #326 closed

[2016-04-23 17:48] mcdonnelldean commented on #369
@immanuel192 So the chaining we have will run all at the same time, it doesn't do the above. This could be a nice decoration (use seneca.decorate). It won't make it into the core api since we are trying to reduce it's current size in favour of a more modular based system.

[2016-04-23 17:48] #369 closed

[2016-04-23 17:52] mcdonnelldean commented on #90
Merged with #397

[2016-04-23 17:52] #90 closed

[2016-04-23 17:53] mcdonnelldean commented on #98
@davidmarkclements @mcollina Might be worth the two of ye talking about this. Merged with #398

[2016-04-23 17:53] #98 closed

[2016-04-23 17:54] mcdonnelldean commented on #35
This is in progress now. Merged with #398

[2016-04-23 17:54] #35 closed

[2016-04-23 17:58] mcdonnelldean commented on #113
@mcollina @davidmarkclements @AdrianRossouw Important to consider in V3 roundtable. Merged with #399

[2016-04-23 17:58] #113 closed

[2016-04-23 22:37] mcdonnelldean commented on #318
Moved to https://github.com/senecajs/seneca-transport/issues/91

[2016-04-25 00:06] nicosampler opened #404 "problem with debug"
Hey,
I have a problem when trying to debug seneca. In my code i do this:
[code]
if runs the app normally, there is no problem and i can use seneca excelently. But if i want debug it, node stops. this is the output:

[code]

i hope someone can help me.
thanks in advance.

[2016-04-25 12:51] mcdonnelldean commented on #404
How do you mean it 'stops' ? instead of this can you try run like this?

[code]

If you are using npm

[code]

And see what it dumps out?

[2016-04-25 12:54] mcdonnelldean commented on #347
As above, swapping out seneca.die is probably the best way for now. Error handling is been rethunk in #398 and will have the ability to switch off seneca handling this. Merged with #398

[2016-04-25 12:54] #347 closed

[2016-04-25 12:58] mcdonnelldean commented on #387
@mirceaalexandru When you get back can you write a test for this so we can fix it? Add it to the existing tests and skip it on PR so it doesn't break the build. I'll pull it and use it to fix the issue.

[2016-04-25 13:47] mihaidma commented on #387
I also hit this issue: https://github.com/senecajs/seneca-postgres-store/issues/47

[2016-04-25 14:20] umidjons commented on #235
I'm using seneca version 2.0.1 and mentioned example from documentation doesn't print any tree. Will this be fixed?

[2016-04-25 22:43] nicosampler commented on #404
Thanks for the quick reply, seems that the problem is in nodemon because running ```node --debug app.js --seneca.log.all``` the problem is solved, i can debug correctly.

thanks a lot!

[2016-04-26 10:02] mcollina commented on #398
I tend to agree with @davidmarkclements, with a catch.
I think we should try to implement the new features without breaking, but not being afraid to break the current API if we see no alternative. If such an event happen, we go and seek a solution (maybe one more module). So this became a two step problem, which is easier to solve.

[2016-04-26 10:32] mcdonnelldean commented on #398
I agree with the principle but we don't have the time or resources for the above. Realistically what is going  to happen is we bludgeon our way through this until we have something smaller and more composable and around version 6 we can start blue sky thinking.

We need to be a little more careful here. For instance @Wardormeur has a fairly big system we will need to run some tests against (CoderD

[2016-04-26 10:41] davidmarkclements commented on #398
To be clear, I'm saying we supply our shims wholesale - v.next is v.next.next + shim

The judgement call is on whether it will save more time and resources in the long run to
to follow the ideal implementation and workbackwards to a shimmed version or to deal
with the backwards compat overhead and strive towards the eventual rainbow of perfection

[2016-04-26 11:34] mcdonnelldean commented on #398
My concern is pretty much around the volume of work to get to there given we do timed releases. Back compat to a single major version is our red line which leaves our cycle of change tighter again. Generally backwards compat means you will only have to make minor changes which roughly equate to adding a shim.

If you can change the underlying implementation but still 'add a plugin' that maintains

[2016-04-26 11:37] Wardormeur commented on #398
I don't expect you guys to ensure backwards compat at 100%
Updating always goes through some changes at some point, you must adapt your code. So don't be afraid to "break" if it a search/replace/add param kind of work, and not whole redesign.
If it's a 2 day process that sortof fine, if it's a week, that's something that blocks our dev process for some time and may slow down the adoption of your n

[2016-04-26 11:45] mcdonnelldean commented on #398
@Wardormeur yeah that is pretty much the sort of break I am talking. If I can just replace a bunch of plugins or do a simple find and replace then It's good. If it's any more than that we start losing projects to rot since the work gets pushed out. Breaking bad usually means folks get left on older version and we end up with a support nightmare rather than people moving up versions.

With breaks w

[2016-04-26 14:40] nfantone opened #406 "Move plugins to Seneca organization"
@rjrodger and cia.

Given that,

- A fair number of plugins are already available to users.
- The Seneca ecosystem is growing.
- Not all of them are being maintained on a regular basis.
- Many plugins duplicate functionality (last time I checked, there were [three](https://www.npmjs.com/package/seneca-amqp-transport) [packages](https://www.npmjs.com/package/seneca-rabbitmq-transport) that enables

[2016-04-26 14:42] mcdonnelldean commented on #406
This is pretty much our thoughts too @nfantone. @naomifeehanmoran and @AdrianRossouw can give you more info. They have been doing a lot of background work to make this a reality and are nearly ready to share our thoughts. Do note, they are pretty much exactly what you've mentioned above 💃

[2016-04-26 14:44] nfantone commented on #406
@mcdonnelldean Fantastic news! So random people around the globe had the same idea roughly at the same time. This needs to be a good thing.

[2016-04-26 14:48] mcdonnelldean commented on #406
@nfantone It was actually the whole mess with the repos above that broke the camel's back.  Something had to change.

[2016-04-26 15:21] naomifeehanmoran commented on #406
hey @nfantone as @mcdonnelldean said we are currently in the process of content curation for the growing Seneca ecosystem and based on your comments we are all on the same wavelength. It will take some time to get everything tidied up but we will get there :)

[2016-04-26 15:39] nfantone commented on #406
@naomifeehanmoran Anything I can do in the meantime? Writing docs? Closing PRs? Reviewing stuff?

[2016-04-26 15:46] naomifeehanmoran commented on #406
@nfantone we welcome any ideas or opinions on what is lacking in docs, you can log issues and PRs against https://github.com/senecajs/senecajs.org/issues.

[2016-04-27 07:32] mihaidma commented on #406
hey @nfantone I coordintate the very small team that currently automates the tests, standardizes plugins after moving and fixes test failures. We need help from tests fixing, PR review and readme review. Please ping me if you want specific tasks.

[2016-04-27 11:48] salaerts opened #407 "Client invalid_origin when sending acts in bulk over http transport"
Hi,

We recently discovered a memory leak in our code base and it seems we've tracked it down to the seneca transport plugin.
While trying to build a small repro code base we see some other strange behavior.

What we're trying to do is make about 5000 acts towards the remote service to see the growth in memory usage.
Unfortunatly we get random warnings about invalid_origin and sometimes even timeo

[2016-04-27 11:56] salaerts commented on #407
If the client code is written as follows we don't see the weird behavior, which is what makes me assume the for-loop is just wrong:

[code]

[2016-04-27 14:36] salaerts opened #408 "Memory usage keeps growing when using remote transport"
We are currently building a distributed application that uses the built-in http transport.
To simplify the scenario: we have van API (service A) that takes requests from clients and a background service that stores/fetches data (service B).

When we put high load on this system the memory usage grows fast and the claimed memory is never released. Both service A & B have this problem, although serv

[2016-04-27 14:39] mcollina commented on #408
Just to confirm, is your process crashing for out of memory? Can you try running this long enough to get to this point?

Memory spikes under high traffic are _normal_ in node apps under high load, as V8 runs the collector when it has time, i.e. when the load is lower. There techniques to mitigate this, but we need to ensure that we are in this case rather than a memory leak.

[2016-04-27 14:43] mcollina opened #409 "Node v6 support"
@mcollina I (@mcdonnelldean) modified the body of this message to provide an update on this for merging reasons.

It looks to be Node v6 breaks Seneca, see PR #419

The reason seems to be based on changes to, https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Reflect

But this needs to be investigated.

[2016-04-27 14:45] mcollina opened #410 "Discontinue support for node v0.10"
I propose we discontinue support for node v0.10 on 2016-10-1, following the Node.js Foundation TLS cycle. See https://github.com/nodejs/LTS

[2016-04-27 14:56] mcollina opened #411 "Role of the gate-executor"
In the context of #398 and #402, I'm a bit puzzled by the role of gate-executor.

@rjrodger @geek @mcdonnelldean can you please explain why we are using it?

[2016-04-27 15:01] mcollina opened #412 "Move actcache at plugin level"
I think actcache is a thing too risky to have it enabled instance-wide on seneca.

I think we should move it to a plugin (maybe with a decorator):

[code]

[2016-04-27 15:05] mcdonnelldean commented on #411
I'm still working through it myself....

My understanding is that it allows functions or units of work to be queued in such a way that they are 'gated'.

This gating is what controls order (for instance while seneca is readying I believe it queues up all your calls to client and listen, and act for instance.

The end result is its a manager that allows execution order to be deterministic.

This is

[2016-04-27 15:07] mcdonnelldean commented on #409
We have a release in November (Major) this dovetails nicely with that

[2016-04-27 15:08] mcdonnelldean commented on #412
I would provisionally agree with this. We need to understand if there any gotchas but if we can pull it out as a plugin for back compat and it doesn't go up in flames I support this

[2016-04-27 15:14] mcdonnelldean commented on #410
Added to 5.0 Milestone (provisional, may happen sooner)

[2016-04-27 15:16] mcdonnelldean commented on #409
I wrote the wrong comment :D Yeah @mihaidma It may be an idea once we finish with the test stuff to start adding node@6 to our suite so we can figure out what breaks and doesn't at an org level.

[2016-04-27 15:21] mcdonnelldean commented on #408
@salaerts Could you move this to seneca-transport? Simply follow this link and paste it? That way we can focus on this as a transport problem (which it may be). The first step is to respond to @mcollina From there we will write an integration test based on the code above to see if we can reliably reproduce. If we can we should be able to figure out pretty quickly were the issue is or if it is just

[2016-04-27 15:23] mcdonnelldean commented on #407
@salaerts It seems this and #408 are more or less the same issue? Or am I misreading?

[2016-04-27 15:26] mcollina commented on #411
Yeah, I'm trying to understand _when_ it is used, and for what purposes. It seems for all acts, but I might be wrong.

It seems it solves problems by executing one thing at a time, which solves ordering, but cripples node. But I might be wrong.

[2016-04-27 15:28] salaerts commented on #407
Not exactly, I just wanted to report the strange invalid_origin and timeout errors we got when we're calling seneca.act from within a for-loop.

They are related in the sense that we discovered this while trying to reproduce #408

But as I stated before: I guess we probably shouldn't be calling seneca.act like that from within a for-loop.
Feel free to close this if it's not an issue.

[2016-04-27 15:29] mcdonnelldean commented on #411
No I think you are right, it's used for ALL acts and forces consistency this way. @rjrodger has said if we could come up with a lighter more elegant solution it would be preferential but don't underestimate how much of the core it touches (every act as far as I'm aware). I've assigned to @rjrodger as I think it's important to get clarity on what this touches instead of both of us making educated g

[2016-04-27 15:30] salaerts commented on #408
Just moved it. (#95)

[2016-04-27 15:31] mcdonnelldean commented on #408
Awesome stuff, we are doing some transport stuff over the next 10 days so I'll add in this test once I am at it.

[2016-04-27 15:31] #408 closed

[2016-04-27 15:35] mcdonnelldean commented on #407
Generally I would say, no, it's not a great idea. I'm going to leave this open for a little bit, I want to get some advice on this. No it's not a great idea but I am interested to see what broke too :D

[2016-04-27 15:39] salaerts commented on #407
Main reason I reported this is because I am also in the process of writing a custom transport plugin that uses zeromq. We put that on hold for now due to the same strange invalid_origin warnings.

Made me wonder if this is an issue or not.

[2016-04-27 15:41] mcdonnelldean commented on #365
@mananjadhav there is no easy way to do this unless your patterns allow it, for instance if you follow the `role:foo` pattern you could uses a prior on `role:*` and create a little plugin that is always loaded last. Load order is important. Priors are based on matches so it should work correctly but I've never tried it using that wide a case.

[code]

[2016-04-27 15:41] #365 closed

[2016-04-27 15:43] mcdonnelldean commented on #407
I thought I seen another similar issue like this, that is why I am hesitant to close it. We will figure it out soon though :D

[2016-04-27 16:18] rjrodger commented on #411
Actions in general operate in parallel - the gating does not affect this.

What is does do is ensure correct ordering of plugin initialisation and also transport construction, by "gating" actions until the plugins are ready.

[2016-04-27 16:19] rjrodger commented on #411
Also, v imp for usability, it makes the chaining API work

[2016-04-27 18:33] mcdonnelldean commented on #411
@rjrodger Ah, yeah that makes much more sense alright.

[2016-04-27 19:53] mcollina commented on #411
Sorry @rjrodger, I'm still not understanding.

Can you please clarify what is the expected behavior of gating? the gate executor is key piece of the plugin loading mechanism and it has a key role in the error handling. Also, there is a lot of custom error handling for loading plugins as well.

I do not understand why a `setImmediate` is needed: https://github.com/senecajs/gate-executor/blob/master

[2016-04-27 20:24] mcdonnelldean commented on #404
We are hoping to move to object based logging soon, that should fix your issue in vs-code 👍

[2016-04-27 20:24] #404 closed

[2016-04-27 20:30] mcdonnelldean commented on #392
@tfoutrein So basically the problem here is the docs are out of date. If you head to our [Gitter][] Channel folks are in discussion as how best to proceed.

[Gitter]: https://gitter.im/senecajs/seneca

[2016-04-27 20:38] #384 closed

[2016-04-27 20:42] mcdonnelldean commented on #325
@andriy-zhelvachenko I'd say open a new issue for that, it's worth exploring.

[2016-04-27 20:45] mcdonnelldean commented on #366
cc/ @mcollina

[2016-04-27 20:48] mcdonnelldean commented on #338
Corrected when moved

[2016-04-27 20:48] #338 closed

[2016-04-27 20:49] mcdonnelldean commented on #321
@andriy-zhelvachenko Could you provide me with a bit more context here?

[2016-04-27 20:51] mcdonnelldean commented on #373
Hey @drahnieR I think this is related to Transport, I'm going to move it there, see, https://github.com/senecajs/seneca-transport/issues/96

[2016-04-27 20:51] #373 closed

[2016-04-27 20:51] #317 closed

[2016-04-27 20:52] #337 closed

[2016-04-27 20:53] mcdonnelldean commented on #313
This should be good now, it will be for next release if not.

[2016-04-27 20:53] #313 closed

[2016-04-27 20:56] mcdonnelldean commented on #252
@vovantigo Generally we work over JSON since that is known to all transports. We are looking at adding the ability to swap out transport cores in the future so you can change this. I've made a note about the error being a bit terrible, we are fixing logging up in the next major version or too, see #397

[2016-04-27 20:56] #252 closed

[2016-04-27 20:57] mcdonnelldean commented on #266
Closed as mvp is being moved to the attic

[2016-04-27 20:57] #266 closed

[2016-04-27 20:58] mcdonnelldean commented on #221
Merged with #397

[2016-04-27 20:58] #221 closed

[2016-04-27 21:00] mcdonnelldean commented on #281
@rjrodger @mcollina @davidmarkclements This may be important as it deals with transports. Merged with #397

[2016-04-27 21:00] #281 closed

[2016-04-27 21:27] mcdonnelldean commented on #102
Moved to seneca-entities.

[2016-04-27 21:27] #102 closed

[2016-04-27 21:29] mcdonnelldean commented on #111
I'll see can I get this in for v3. I don't think it's a big change.

[2016-04-27 21:33] mcdonnelldean commented on #159
@psnider I'm going to close this. I think it's really good but I don't think we can officially support it (person power). I'd say your next best step is to create a repo, ping us on Gitter of course if you get it started, best of luck!

[2016-04-27 21:33] #159 closed

[2016-04-27 21:34] mcdonnelldean commented on #123
@rjrodger Is this still relevant?

[2016-04-27 21:40] mcdonnelldean commented on #173
Moved this to transport and marked as bug.

https://github.com/senecajs/seneca-transport/issues/97

[2016-04-27 21:40] #173 closed

[2016-04-27 21:45] mcdonnelldean commented on #134
Merged with #398. Pretty much the feature set we are trying to add for vnext.

[2016-04-27 21:45] #134 closed

[2016-04-27 21:46] mcdonnelldean commented on #126
Merged with #397

[2016-04-27 21:46] #126 closed

[2016-04-27 21:46] mcdonnelldean commented on #201
Testing is now pretty much automated.

[2016-04-27 21:46] #201 closed

[2016-04-27 21:47] mcdonnelldean commented on #309
@atownup Nodezoo is a pretty good example of using seneca in different context. If you have any other questions feel free to open.

[2016-04-27 21:47] #309 closed

[2016-04-27 21:49] #182 closed

[2016-04-27 21:51] mcdonnelldean commented on #124
@mcollina ref Plugins.

[2016-04-27 21:52] mcdonnelldean commented on #213
Done

[2016-04-27 21:52] #213 closed

[2016-04-27 21:56] mcdonnelldean commented on #122
Merged with #399 in terms of transport composability. It should in theory be much easier to do the above once it lands.

[2016-04-27 21:56] #122 closed

[2016-04-27 21:59] mcdonnelldean commented on #133
Needs discussion in the context of #398

[2016-04-28 01:09] psnider commented on #159
No problem.
I'll just submit it to the DefinitelyTyped repository.
Other seneca users can then help with any necessary corrections.

[2016-04-28 01:16] drahnieR commented on #373
@mcdonnelldean appreciated

[2016-04-28 17:39] nicosampler commented on #404
Thanks!!

[2016-04-29 07:31] mcollina commented on #412
First of all, is anybody enabling actcache? It's not even documented (I presume)

[2016-04-29 07:41] mcollina commented on #133
TL;DR I am 👎  on this.

We cannot make this throw unless we allow for a different behavior between local/in-memory microservices and distributed microservices. If they throw, I could crash another process by sending a wrongly composed message. A key principle of seneca is transport independence, even if there is _no_ transport, so I am against this change.

[2016-04-29 09:10] mcollina commented on #387
Some of the work I'm doing in #402 will fix it 🎉 , or possibly made it worse 😢 .

I can say the current implementation is broken.

[2016-04-29 09:23] mihaidma commented on #387
:fireworks:

[2016-04-29 10:33] baldmountain commented on #133
Having written and deployed lots of services using Seneca I also think that validation errors should **NOT** throw exceptions. Having said that, I usually skip over the parambulator based validation in Seneca and use Joi in actions. We needed some validations that the parambulator subset wouldn't do.

Now that I've said that, maybe a better feature would be to use Joi to validate parameters if the

[2016-04-29 10:35] mcollina commented on #133
I agree we should switch to joi for validations. @mcdonnelldean ?

[2016-04-29 10:48] mcdonnelldean commented on #133
There is already agreement on deprecating validation in favour of using your own (read Joi) I'll root out the issue on that. So I think thats just pending some of the bug work being complete.

On the errors, I'll ask for a bit more feedback on Gitter too. My personal preference is also to use the err callback.

My reasoning is thus, I don't want a bad validation to kill my service, I want my valid

[2016-04-29 10:56] OriginalEXE commented on #286
Related #133

[2016-04-29 11:02] kevin-madhu commented on #133
I found Joi joyful!

[2016-05-03 11:48] mcdonnelldean commented on #411
Closing as Matteo has worked through this code.

[2016-05-03 11:48] #411 closed

[2016-05-03 11:50] mcdonnelldean opened #413 "Documentation Blitz"
We need to blitz documentation before V3 is out. There are some out of date docs and broken samples.

### Concepts to cover
- using ready correctly
- load order
- plugin composition
- cover $fatal usage
- Rework API docs
- Marshaling data when not using plain objects.

Feel free to suggest more.

[2016-05-03 11:50] mcdonnelldean commented on #392
Merged with #413

[2016-05-03 11:50] #392 closed

[2016-05-04 11:49] mcdonnelldean commented on #387
This is not a bug, in the end it is an ordering issue. I am documenting the process as it should be and updating the site with this info. Once done I will close the issue. @mirceaalexandru @mihaidma

[2016-05-04 11:54] mcdonnelldean commented on #387
Merged with #413 To them all together.

[2016-05-04 11:54] #387 closed

[2016-05-04 13:21] Takeno commented on #370
That error is caused by the wrong `Promise.promisify`'s parameters.

Docs: http://bluebirdjs.com/docs/api/promise.promisify.html

As you can see in this commit, the promisify function is now accepting an object as second parameter.
https://github.com/petkaantonov/bluebird/commit/2a28d466439586d5ae755b0f538a5cc6974395ba#diff-1f0dd9d666794c01ded659349cb2512eR271

In order to fix the promification, y

[2016-05-04 13:27] Takeno commented on #370
I just found the same issue in seneca.org repo: https://github.com/senecajs/senecajs.org/issues/207

[2016-05-04 13:38] rjrodger commented on #344
@andriy-zhelvachenko the mesh will remove the subscribers when they terminate

[2016-05-04 14:08] mcdonnelldean commented on #344
Yeah, so if you are using mesh it will handle it all for you. Generally the reason this isn't part of the API is,

1: It usually causes issues, so is not recommended
2: In pubsub cases (where it makes sense), it should be handled by the transport

I have a guide on mesh coming before the end of the month to coincide with 3.0 releasing, it will have more detail on this. I'm going to close but if yo

[2016-05-04 14:08] #344 closed

[2016-05-04 14:09] mcdonnelldean commented on #409
@mihaidma I want to talk about this today to see what effort there is to add 6 into our suite

[2016-05-04 14:12] mcdonnelldean commented on #370
As @Takeno says, it is coved in the docs,

http://senecajs.org/tutorials/seneca-with-promises.html#basic-example

Unfortunately it is not very visible and looks more like a throw away comment. I will make this more explicit in the documentation so that people know it is the correct fix.

Closing as the actual issue is to use context correctly.

[2016-05-04 14:12] #370 closed

[2016-05-04 14:40] mihaidma commented on #409
@mcdonnelldean I already evaluated moving to node 6, let's discuss it today

[2016-05-04 14:52] mcdonnelldean commented on #409
Awesome stuff!

[2016-05-04 17:02] mcollina opened #414 "Change to the asynchronous model of execution"
This stems from #398 and #402, but it is worth its own discussion.

In gate executor, everything `act` is wrapped within a `setImmediate` and a try-catch.
Currently, the role of the try-catch is to allow connecting the _source_ of the act if an exception occurs.
This is needed because the `setImmediate` resets the stack.

Currently an `act()` is asynchronous because an `act()` might go to the netw

[2016-05-04 17:09] mcollina commented on #397
I've put some time thinking about logging in Seneca, and I think I come with a good solution, tell me what you think.

Here are my hypothesis:
1. people are currently fine with no logging at all
2. everybody else want JSON logging

So, I propose that __seneca does not log__ by default. It will provide an internal function `trace(obj)`, attached to the seneca and delegates. A plugin might override

[2016-05-04 22:38] mcdonnelldean commented on #414
I'm trying to see if there would be a bigger impact or not to this that I first assume, let me add some sample code to see if these would run as I expect.

[code]

Would this have the same output? Or to put it another way, what does this change do in feature terms.

[2016-05-05 06:49] mcollina commented on #414
Yes, it will have the same output. This does not change the communication through transports, but only the in-process (where a more clear error-handling would help).

Feature wise, you should have no difference.
However, this might break some tests that are relying on asynchronous side effects: these kind of tests are usually potential bugs anyway.

[2016-05-05 11:27] mirceaalexandru opened #415 "Incorrect pattern matched, when pattern is specified explictly"
I have the case when pattern is specified explicitly. In this case it seems that pattern JSON and payload are merged and then the pattern matching is applied, which seems to be incorrect. If pattern is specified explicitly then this should be the only information used for matching, regardless the data in the payload JSON object.

Take a look on the following code:

[code]

result will be:

[code]

[2016-05-05 11:44] mcdonnelldean commented on #415
I feel like we should have a flag for this. I agree basically, because it makes the model easier to follow, but a blanket change would break the world. Let me first check if we have such a flag, if not I don't think it's a big job to add in 4.0 or 5.0

[2016-05-05 16:34] mcdonnelldean commented on #406
@nfantone Hey, I just wanted to update you. We are now at the deprecation stage of this task. We are removing a load of obviously outdated stuff just so we can deal with what actually matters. Once this phase is complete we will start chatting to yourselves and others. We will have a much leaner, higher quality org by the end of this all :D

[2016-05-05 17:48] nfantone commented on #406
Hey, @mcdonnelldean! Great news! I'll be away this whole week, but will catch up with you when I return (I still have some bugs assigned to me that'd like to push forward).

[2016-05-06 09:00] sabberworm opened #416 "Add docs on fatal$"
I found no mention of the `fatal$` flag on the website. I did get the following error once:

([source](https://github.com/senecajs/seneca/blob/3bf43782235645737060e0ee44cd69a5bf3255ce/lib/common.js#L280))

However, the link [senecajs.org/fatal.html](http://senecajs.org/fatal.html) just 404s. It would be nice if we had a writeup of seneca’s concept of fatal vs. non-fatal action calls. I found it re

[2016-05-06 09:36] mcdonnelldean commented on #416
@sabberworm Good spot, I am actually updating documentation on the site to go live in June so I will add this one to the list, I'll add some code samples too.

[2016-05-06 13:11] AdrianRossouw commented on #416
dont forget to document opts.debug.undead:
https://github.com/senecajs/seneca/blob/2371389120632c26e4f548964f1df976934904b7/lib/common.js#L257
[code]

although hopefully that won't stay necessary forever.

[2016-05-08 20:07] rjrodger commented on #400
@pibi I forked your test repo and ran the api gateway:

[code]

This does seem to work - I think?

I would not recommend using readdirSync in this manner - you are subject to random read times, and especially on cloud virtual machines this could easily cause timeouts.

What is the purpose of loading the plugins in this manner?

For a good example of a hapi API based microservice architecture see h

[2016-05-08 20:15] mcdonnelldean commented on #400
My bad we moved to gitter on this and basically came to the same conclusion. @pibi I'll close with the provisio that we generally don't recommend using that method since it causes all sorts of weird load issues. Feel free to open if you have more questions or we can continue on gitter too 👍

[2016-05-08 20:36] pibi commented on #400
Sorry guys, but we didn't come with this conclusion on gitter. we tried
with express and chairo, the only conclusion was about the inconsistent
fatal$ usage.

Readdirsync is not a problem here, it happens way before the seneca
timeouts.

please, test the "with_init" branch and please try to add some more file to
the api gateway. you should experience a consistent high load time on init
calls and t

[2016-05-08 20:45] pibi commented on #400
@rjrodger please, take a look at the timestamps:
2016-05-08T19:59:51.761Z 9r7tj1z4j82i/1462737591466/41715/- INFO client {type:beanstalk,pin:role:*,cmd:*,host:0.0.0.0}
 [ API-GW ] loading dw
[ API-GW ] loading pets
[ API-GW ] loading user
2016-05-08T19:59:59.935Z 9r7tj1z4j82i/

8 seconds to load 3 files after the readdirsync. they are internal timeouts, as you can see by adding some other file on

[2016-05-08 22:22] mcdonnelldean commented on #400
@pibi Apologies, I had went through the backlog and assumed ye had worked through it. I've reopened but I think we need to distill this problem down into a runnable test so we can reproduce this issue in our suite.

[2016-05-08 22:26] mcdonnelldean commented on #400
@pibi Actually a quick verification. If you don't use readdirsync are you still getting the same result? I'd like to limit the moving parts to figure out where to start looking on this.

[2016-05-08 22:26] rjrodger commented on #400
@pibi it would still be helpful to understand why you are loading plugins this way
To fully exclude this as an issue, I would modify your test case to load the plugins directly using seneca.use, and see how that affects things

[2016-05-08 22:32] mcdonnelldean commented on #416
Merging with #413 @sabberworm this should drop, Monday or Tuesday coming as part of #413. I will ping here when they are ready. I have examples on the API doc showing `$fatal`'s usage

[2016-05-08 22:32] #416 closed

[2016-05-08 22:37] mcdonnelldean commented on #412
No idea. But I can't change things based on assumption of use. Either way, this falls into the same category as Joi / Logging, once that work is done caching can become an optional addin if that's what the community wants.

I've set this for discussion post the plugins milestone as that makes the most sense for now. We can open it up to the community then to figure out if anyone is using it.

[2016-05-09 06:01] pibi commented on #400
@rjrodger is a "convention over code" pattern for a development of many
(>20) microservices in a high distribute team. Readdirsync helps us to keep
the structure simple and consistent (we use it also to load actions, with
no issues)

Please, try to mofify the "with_init” branch, it has better logging, it's
more simple to understand (api file are just placeholder you can clone to
see the load times

[2016-05-09 07:46] StarpTech commented on #164
Hi @geek what is the status?  Can I safely built my service with perambulator?

[2016-05-09 11:30] mcdonnelldean commented on #398
@davidmarkclements Sorry to leave off on this. I'd like to organise a chat with you at some stage around this shim concept? We have a few other objectives that need a similar idea. I'd like to get a practical overview on what it means?

[2016-05-09 11:31] OriginalEXE commented on #398
Just ran into error handling "issue", pasting my comment from gitter.

Context: I was running into issue where my service would fail because seneca transports do not transport errors (even with fatal$ set to false). This was completely unexpected for me so I lost quite a lot of time just figuring this out, and logs did not help me.

[2016-05-09 12:03] mihaidma commented on #398
@OriginalEXE
In my understanding there are two big error categories:
- You make a request to a service that doesn't function properly (like a store that has the DB down). This is the case that results in an error, the service can't execute your request properly,
- You make a request to a service that functions properly, executes your request properly but the result of your request is an "error" re

[2016-05-09 12:06] mcdonnelldean commented on #398
@OriginalEXE @mihaidma An this I think is the issue, we have no way to express business logic errors as such. This is further exacerbated by the fact that their is no consensus as to the standard way to do business logic errors in node.

[2016-05-09 12:14] OriginalEXE commented on #398
I agree. I like this writeup on errors in node: https://www.joyent.com/developers/node/design/errors

Also, the library they mention for handling error propagation seems interesting: https://github.com/davepacheco/node-verror

So yeah, there really needs to be a way to handle operational errors other than passing the error as part of a message object and having to check for some kind of "success"

[2016-05-09 12:17] ilyaigpetrov opened #417 "Seneca + Joi + nested actions [bug]"
Hi. I have issue with nested object validation via Joi. Could you tell me whether this is a bug:
[code]

[2016-05-09 14:17] mcdonnelldean commented on #417
Related to #164

[2016-05-09 14:42] geek commented on #164
@StarpTech You are safe to use either parambulator or joi.  If you find a bug in either, please log with the respective project.

[2016-05-09 15:56] StarpTech commented on #164
@geek thanks

[2016-05-10 10:42] mcdonnelldean commented on #417
@ilyaigpetrov I think the params may be the wrong way around here.

When I test it using the correct param order I get a perambulator error. I haven't used this functionality before but we have a couple of people with open issues around it. I have it on my list of things to investigate later this week.

I do know that for 3.0 we adding more explicit support for swappable validation, see,

https://

[2016-05-10 10:55] mcdonnelldean commented on #398
@mcollina Could you add your summary from #402

The end result of the spike for __/all__. We can't just remove try-catch, it sets off a series of changes that ends with needing to make a decision on error handling and some large breaking changings. Before we continue, I want to be really clear about what we are changing and make sure that each thing we add or remove is accounted for. This means we

[2016-05-10 15:53] mcdonnelldean opened #418 "Possible breaks in Node v6"
@mihaidma Could you add a PR with v6 attached? I don't want to accept it yet but I think something in seneca is breaking due to https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Reflect so I want to see what it is :D

@mcollina Did they move all the apply stuff around?

[2016-05-10 22:57] mihaidma commented on #418
@mcdonnelldean
https://github.com/senecajs/seneca/pull/419

[2016-05-11 07:20] keerthivasan-r commented on #159
@psnider I would like to make use of it. Can you help me out?

[2016-05-11 14:03] psnider commented on #159
I'll try to push this to DefinitelyTyped today.
See my example project for how to use this declaration file: https://github.com/psnider/people-service/blob/master/src/server/ts/people-plugin.ts

[2016-05-12 05:08] keerthivasan-r commented on #159
Thanks man, I did try the way you have done. i am able to build it successfully. but, it throws error during runtime.

[code]

What might be the problem? I'm a newbie. Could you help?

[2016-05-12 05:17] psnider commented on #159
You didn't initialize seneca.
Take a look at: https://github.com/psnider/people-service/blob/master/src/server/js/people-app.js#L5-8

[2016-05-12 05:21] keerthivasan-r commented on #159
Thank you! I did it this way now! It works. Does that a correct way of doing?

[code]

[2016-05-13 09:41] mcdonnelldean commented on #399
Via an issue on the beanstalk transport

---

@mcdonnelldean I read the transport protocol spec (https://github.com/senecajs/seneca/blob/master/doc/transport.md). I understand the purpose and scope of document, greatly summarized in the header:

The protocol is a request/response model. However some requests do not require responses, so the protocol also supports actor or pub/sub message flows.
I

[2016-05-13 09:56] mcdonnelldean commented on #321
@andriy-zhelvachenko I've had a look over the sample but I can't figure out what the context of it is in relation to the reported issue. Also this,

[code]

Is not a good idea. You would be better off using a known root in your patterns and star matching, eg,

[code]

Star matching is supported and priors work off of matches so anything that had role in the name would hit this pattern.

I'm going

[2016-05-13 09:56] #321 closed

[2016-05-13 10:01] mcdonnelldean commented on #418
Merged with #409

[2016-05-13 10:01] #418 closed

[2016-05-13 10:03] mcdonnelldean commented on #401
@mcollina @rjrodger Before I go spelunky on this one. Do either of ye have any comments on this?

[2016-05-13 10:07] rjrodger commented on #401
does this also happen with `seneca({actcache: {active: false}})` ?

[2016-05-13 10:34] mcdonnelldean commented on #385
Ok I squashed this down to,

[code]

The client itself gets it's own warning,

[code]

Which is emitted once per interval tick.

Next, if you set the timeout for seneca to a reasonable value, you also see the error, since this message never came back with a response.

[code]

In summary,
The large timeout on the client instance is what was causing the message error to not appear. The client timeou

[2016-05-13 10:34] #385 closed

[2016-05-13 10:35] mcdonnelldean commented on #399
Timeouts also need a think. Consider the code and output in issue #385

[2016-05-13 10:40] mcdonnelldean commented on #407
@salaerts Ok so I had a look over this. It seems the issue here (at least from the code above) is the volume of acts is flatlining the transport. If you tick these over on an interval of say 500ms it seems to behave itself.

Generally for this sort of thing we would add the messages to a queue and pop them off the other side using backpressure to keep us from flooding the system.

In your actual i

[2016-05-13 10:42] mcdonnelldean commented on #360
Closing until there is movement on #361

[2016-05-13 10:42] #360 closed

[2016-05-13 10:44] mcdonnelldean commented on #401
Let me try that and get back.

[2016-05-13 10:47] mcdonnelldean commented on #212
Moved to https://github.com/senecajs/seneca-entity/issues/12

[2016-05-13 10:47] #212 closed

[2016-05-13 10:53] mcdonnelldean commented on #276
Closed as the community didn't seem to take to it. We will revisit once all the deprecation work is done. At that point we will have a smaller sample set and can use the content of this issue to standardise.

[2016-05-13 10:53] #276 closed

[2016-05-13 10:54] mcdonnelldean commented on #140
@rjrodger Quick question. Is this something that needs to be in seneca-repl or to light this up does it need to be in Seneca? If not I want to move the issue to the right repo.

[2016-05-13 10:56] mcdonnelldean commented on #133
Merged as this will be based on what happens with the error flow changes happening at the end of the year. This issue ties in with discussions on what constitutes an error vs an exception. All if this will be sounded out in #398

[2016-05-13 10:56] #133 closed

[2016-05-13 10:58] mcdonnelldean commented on #398
Nothing https://github.com/senecajs/seneca/issues/133 here as it's pretty much the same issue as @OriginalEXE speaks about but the other way around. All roads lead to having to types of error scenarios but only one way to handle them.

[2016-05-13 11:04] mcdonnelldean commented on #397
@mcollina People are using the logging (icky as it may be). I'd also be someone who would prefer it to log by default. Really I just want some JSON logs, that's pretty much it. I'm just a little worried we are over thinking this for now.

The use case for this has to be `simple` if it's not people won't use it, this is why the old logs are not great. They require a lot of config, your's would be t

[2016-05-13 12:01] rjrodger commented on #133
Agreed with discussion. Validation errors are provided via callback, not thrown.
If you look at both parambulator and joi, they work this way.

This issue is now more or less resolved with: https://github.com/senecajs/seneca/pull/420
See also: https://github.com/rjrodger/seneca-joi

[2016-05-13 12:17] mcollina commented on #401
@psnider I suggest you to reconsider your architecture. Sending 40MB of data from Node.js will likely cause you problems in other places as well. The solution to this issue is uploading that file to S3 or another blob storage, and then send a URL to your caller.
This has the added benefit of allowing better caching.

Given that there are no leaks for small strings, I presume it's some bad interact

[2016-05-13 12:20] mcollina commented on #397
@mcdonnelldean can you please work with @rjrodger to sum up the goals we want to achieve with the new logging system? I fear we are not in agreement. Or I just do _something_, and then we discuss there.

[2016-05-13 12:31] mcdonnelldean commented on #397
@mcollina Yeah that's a good point. Let me come back to this Monday with a scope for you.

[2016-05-13 12:35] mcdonnelldean commented on #395
Fixed via #422. Thanks @StarpTech

[2016-05-13 12:35] #395 closed

[2016-05-13 12:45] psnider commented on #401
I agree that 40MB is too large, but I have no control over what the external service sends.

Are you suggesting that 4k is a long string? If so, what is a reasonable maximum length?
Please reference: https://github.com/senecajs/seneca/issues/401#issuecomment-212223976

[2016-05-13 12:46] mcdonnelldean commented on #412
Possibly related to #401

[2016-05-13 12:53] mcollina commented on #401
Receiving 40MB in your process for a live transaction is probably a bad idea anyway. You will get a much more performing user experience by 1) having the client return an original URL or 2) uploading that data somewhere else in a batch/queue fashion.

Regarding the bug, I expressed myself badly. Given there is no problem with "normal" strings and objects, this should be tightly correlated with buf

[2016-05-13 13:02] mcdonnelldean opened #423 "Lab not able to support our testing scenario"
Folks,

We need to make a decision on how to progress forward here. Right now we support,

- 0.10
- 0.12
- 4
- 5

We are looking to bring in support for Node V6 but can't because the version of Lab that supports V6 only includes backwards support to V4.

Granted we could probably drop 0.10 soon enough but there are a lot of folks still on 0.12. I'm not at all comfortable dropping support because t

[2016-05-13 13:03] psnider commented on #401
I believe that there is a serious memory leak in this use case.
I don't know if Seneca is involved, but it seems to be.
If it is related to Seneca, it would help to know what the cause is.

BTW, I worked carefully on the examples I gave in the initial report to decouple it from all other aspects of my app.

[2016-05-13 13:06] mcdonnelldean commented on #401
@psnider Let me first check the cache stuff, if that's the issue it's fairly simple to fix. I'll report back soon.

[2016-05-13 14:11] mcdonnelldean commented on #395
Monday. I have a couple of things that need to go out with this but they won't be baked until tonight. It may go out sooner but Monday is the latest.

[2016-05-13 15:36] geek commented on #423
If you need support for node 0.12 and 0.10, you can use lab v6.x.x and disable the leak checks: `--leaks`

However, I recommend cutting support for node 0.12 and requiring node >= 4.0.0 going forward for seneca 3.0.0.

[2016-05-13 15:42] mcdonnelldean commented on #423
@geek 3.0.0 is too early for us to drop 0.12. The plan is to do it in the November release. Will the above give us support for Node v6? When disabling `--leaks` what is the side effect from that? Is it disabling leak checking generally?

[2016-05-13 16:10] geek commented on #423
@mcdonnelldean it disables checking for global leaks.

[2016-05-13 16:22] mcollina commented on #423
@geek can you please explain what is the issue? Maybe there is a simple workaround that can keep support for the leak check in node v0.12.

[2016-05-13 22:39] davidmarkclements commented on #398
@mcdonnelldean just caught up with thread, happy to talk about shims but.. just to clarify, are we at a point where everyones okay with clean break + shim, or is that whole discussion still being had? If so we still need to nail down prevailing strategy and context, which is a bigger conversation requiring more input than I should or could provide alone (i.e. cc @rjrodger @pelger @mcollina ....)

[2016-05-13 23:18] geek commented on #423
node 6 deprecated accessing `root`... I have this fixed in the latest lab.  Previously, it was accessing global.root, which is where the warning appears.  Another option is also to disable deprecation warnings in node.

[2016-05-14 07:37] mcollina commented on #423
@geek would it be possible to support the old mode (for 0.12) and the new mode (6+) with a version test (or feature check)? Something like https://github.com/calvinmetcalf/process-nextick-args/blob/master/index.js#L3-L9 (used in readable-stream).

[2016-05-14 08:46] mihaidma commented on #423
I verified Lab 6 with Node 6 and `--leaks`, it works: https://github.com/hapijs/lab/issues/581#issuecomment-219079708
This solves our problem.

I'll add through scripting `--leaks` on tests running on Node 6 and that will fix our issue until we drop 0.10 and 0.12 support.

[2016-05-16 06:04] AdrieanKhisbe commented on #276
define community... #laBlague

[2016-05-16 13:31] mihaidma commented on #423
I think the issue is solved. I posted details on devlog: https://github.com/nearform/devlog/issues/12

[2016-05-17 01:39] psnider opened #424 "Error: seneca: Action PIN responded with result that was not an object or array:"
node v5.0.0
seneca 1.4.0

I've just encountered a very painful error, when I switched my app to use a Google Protocol Buffers data feed, from an XML feed.
Although the data representations were slightly different in the two formats, the changes were minor and obvious, and all of my other code stayed the same.

After the switch I started getting this cryptic error:
[code]
After a fair bit of invest

[2016-05-17 06:58] mcollina commented on #399
I do agree 100%. However, `fatal$` and timeouts are already 100% removed in #402. That PR needs to add back support for timeouts. I think those should be transport specific (currently there are two timeouts, one on the caller and one on the receiver).

[2016-05-17 07:00] mcollina commented on #398
@mcdonnelldean it would be good if @rjrodger (or someone else) writes down how things are supposed to work in the current version, not how they _work_ from a code point of view. This will help clarify the scenarios Seneca is trying to cover, and provide some good documentation for v3. _Then_, we can iterate anche change that document.

[2016-05-17 08:19] rjrodger commented on #398
@mcollina good idea - let me get this on paper

[2016-05-17 11:31] AdrianRossouw commented on #423
i think this has been resolved now.

closing.

[2016-05-17 11:31] #423 closed

[2016-05-17 13:55] mcdonnelldean commented on #424
Hey @psnider,

The reasoning behind plain objects is because this is the only way to have a reliable transport.
We tried to marshal objects to json before and this led to weird edge case issues where we had
quasi marshal support. This basically means you must marshal your data before you send it on.

As the error note says, you can use `strict:{result:false}` in the options you pass to Seneca to d

[2016-05-17 13:55] #424 closed

[2016-05-17 14:38] tnolet commented on #413
Probably not the place to say this, but is it possible for fatal$ to be false by default?

[2016-05-17 14:39] mcdonnelldean commented on #413
@tnolet This wouldn't be the place for this. For now fatal$ will be true. This will change when error handling changes go in but that is 2ish major versions away.

[2016-05-17 16:33] psnider commented on #424
Also, please change the error message to be clearer, such as:

[2016-05-17 16:56] psnider commented on #424
It seems I resolved the problem by explicitly creating a new object literal.
[code]

However, this only changed the top level object.
It seems that in theory the test ```  !(_.isPlainObject(resdata) ||  ``` should also apply to each referenced object. Does seneca also require that I change the referenced objects as well? And what about plain objects that cannot be easily marshaled? (e.g. with circ

[2016-05-17 17:41] mcdonnelldean commented on #424
You need to handle converting the data to a plain object. How you do this is up to your implementation but Seneca will only accept plain objects (literals or things made with new Object()).

As noted above, if you are not happy with that functionality you can turn it off. Seneca will try to send what you gave it. Results will vary by transport.

[2016-05-17 18:27] psnider commented on #424
Understood. Thanks...

[2016-05-17 23:58] dgonzalez commented on #398
+1 to write down on how things are supposed to work in current version for error handling.

[2016-05-18 00:12] dgonzalez commented on #385
I know this is closed but I have a question about it that is hitting me in seneca-balance-client:

- The server (upstream) being down causes an ECONNREFUSED that gets notified as a warning and then a timeout kicks in... is this the desired behaviour when there is a clear error in the flow?

Also, the warning you mention above, I am facing the issue now that I can't act on this warning because I do

[2016-05-18 20:17] MatthewBelkin1 commented on #385
@mcdonnelldean I still think that this is an issue (but please pardon my ignorance if I am wrong).

I understand why changing the `Seneca.timeout` to a smaller number helps make the case that "everything works", but the reason I choose to use a very large timeout in my example was to show how (in this case) the error is being reported to the console after waiting for the `Seneca.client.timeout` to

[2016-05-20 12:35] mcdonnelldean commented on #417
@ilyaigpetrov We've corrected an issue with the validation service. Joi will be a first class plugin from 3.x onwards but you can enable it in 2.1 using the legacy flag.

https://github.com/rjrodger/seneca-joi

[2016-05-20 12:35] #417 closed

[2016-05-23 16:11] salaerts commented on #407
In the actual implementation we're using queues as much as we can, but every request to that API needs to be validated against a backend service.

Until now it has hold up well under load tests and I haven't seen this type of exception yet.

[2016-05-23 23:17] boneskull commented on #399
I'm running into an issue where I have a long-running action (paginating event data from GitHub in a non-evil way)--I'm attempting to use `timeout` when instantiating Seneca, and also `timeout$` in the action arguments, as seen [here](https://github.com/senecajs/seneca/pull/359/files).

I set this to a very large integer, because it's unclear how long the action will actually take.  `Infinity` is

[2016-05-24 04:15] nrusingha-bestray opened #428 "Seneca DB connectivity"
Hi,
I am new to seneca. from last few days I am trying to insert some data into mongo db but I was a little but confused.
Can you please give a step by step guide to do this.
I am currently using Windows 7, Node 4.4, Seneca latest.
Thanks

[2016-05-24 06:38] mirceaalexandru commented on #428
Hi @nrusingha-bestray ,

this documentation should help you:
http://senecajs.org/tutorials/understanding-data-entities.html

If you want to use mongo then you should use this store:
https://github.com/senecajs/seneca-mongo-store

and because you are using the latest seneca version you should use also seneca-entity (https://github.com/senecajs/seneca-entity)

So your code will look like this:

[cod

[2016-05-24 08:52] nrusingha-bestray commented on #428
Hi. mirceaalexandru
Thanks for your reply.
Your quotes are quite helpful.Now data are saving in mongodb
Next can you give some basic idea that It will fetch parameters given from view (e.g. from  ejs pages in sails) --> manipulate it in middle layer --> then saves in db and returns a response to view.

Thanks again

[2016-05-24 17:17] mirceaalexandru commented on #428
I hope I understood your question.

You need to execute the seneca actions from your controllers, so all seneca actions will be used as services that runs between your controller and the model.

The seneca actions can then process request, read/write into DB using its store and generate the response for controller.

For Express & Hapi, Seneca has a build in plugin that can be used to register your

[2016-05-25 07:49] nrusingha-bestray commented on #428
Hi ,
as you said I created one controller and from here I call the service layer.
Here is my code:

SavedataController:
----------------------------
saveData: function(req,res){
    var SenecaService=require("../services/SenecaService");
    var say=req.param('say');
    var name=req.param('name');
    SenecaService.saveDetails(say, name, function(err, data){
      console.log('--- Data: '+data);

[2016-05-25 08:30] mirceaalexandru commented on #428
No, is not really OK how you did it, here are some examples, maybe it will help you:
https://github.com/rjrodger/seneca-examples
https://github.com/nodezoo/nodezoo-web

[2016-05-25 10:04] mcdonnelldean commented on #428
@nrusingha-bestray nodezoo-web is a good example of what you are looking for. We use Hapi for most of our examples because it has an addin called Chairo that decorates Hapi with Seneca. This means I can do things like `request.seneca.act`. See nodezoo-web's [api routes](https://github.com/nodezoo/nodezoo-web/blob/master/server/routes/api.js).

In seneca your logic always lives in a plugin that is

[2016-05-26 03:12] nrusingha-bestray commented on #428
Hi mcdonnelldean,
sorry I am late and thanks for your demonstration.
I was working on that.
Please tell me how to integrate Hapi in Node 0.10
[ Note: I am using Node 0.10
If I switch to Node 4.4 or like that some other functionalities like 'bcrypt' will not work in my project ]
Thanks

[2016-05-26 11:50] mcdonnelldean commented on #428
@nrusingha-bestray I have never used Hapi with 0.10 so I can't help here.

One thing I would note is that 0.10 is going end of life before the end of they year, at that point Seneca will no longer actively support 0.10 (although it may still 'work'). My suggestion is to find an alternative to BCrypt since you are going to find support for modules very VERY hard.

I'm going to go ahead and close th

[2016-05-26 11:50] #428 closed

[2016-05-28 12:56] mazzy89 opened #429 "Plugin name is not set up correctly"
I'm using Seneca 2.1.0 and this is my project:

[code]
### Auth plugin

[code]

In this case the plugin name is not set correctly and in the log it is display ../auth as name

[2016-05-28 22:47] mcdonnelldean commented on #429
@mazzy89 Cheers for taking the time to report this. As discussed on gitter this has been confirmed on my end. @rjrodger I need to figure out if this is a regression, lets chat about it on Tuesday.

[2016-05-29 10:18] StarpTech commented on #398
+1 @rjrodger did you start on this paper?

[2016-05-29 10:47] StarpTech opened #430 "Handle fatal errors in production"
Hi,
what is best practice to handle fatal errors in production? There is no documentation about how to handle errors in seneca. I found something about fixedargs and fatal$: false, undead.... but this seems very tricky and not the convient way.
The link `senecajs.org/fatal.html` in seneca error trace is also down. Seneca is used since 5 years in production. How do you handle errors? I want to unde

[2016-05-29 10:58] StarpTech commented on #430
#398

[2016-05-29 14:06] mcdonnelldean commented on #430
@StarpTech This is something we are in the middle of in terms of documentation.

In general, fatal errors are just that, fatal. They will crash the process. In production we wire up our microservices to restart when this happens.

However, there is a distinction between regular errors and fatal errors. Fatal errors should be reserved for when the action is actually fatal. If it is just a business

[2016-05-29 14:08] mcdonnelldean commented on #398
@StarpTech This is starting post 3.0.0, we are focusing on getting that out first and then we will move on to documenting this stuff in more detail before 4.0.0 so we can get the community in on the decision making process. As soon as the draft becomes available I'll update this thread.

[2016-05-29 14:09] mcdonnelldean commented on #415
@mirceaalexandru Changed this to a feature request. It's something I want to discuss with a few people but provisionally I think this is a good thing to put in.

[2016-05-29 14:11] mcdonnelldean commented on #399
@boneskull Are you looking for a way to basically say never timeout?

[2016-05-30 11:24] mcdonnelldean commented on #430
@StarpTech Going to close as answered but as always feel free to reopen if you need more info or have further questions.

[2016-05-30 11:24] #430 closed

[2016-05-30 11:27] mcdonnelldean commented on #407
@salaerts To clarify are you getting the exception in your actual implementation?

[2016-05-30 11:28] mcdonnelldean commented on #286
Closing as this feature is now in. See https://github.com/senecajs/seneca/issues/133 It will become the default way of doing things on 3.x but if you want it now it can be done via a switch as in the issue above.

[2016-05-30 11:28] #286 closed

[2016-05-30 11:30] mcdonnelldean commented on #140
Moved to: https://github.com/senecajs/seneca-repl/issues/6

[2016-05-30 11:30] #140 closed

[2016-05-30 15:31] StarpTech commented on #430
@mcdonnelldean thank you very much it clarifies a lot so you prefer to mark a business logic failure as a flag in the response format instead to passing it in the callback? This means that only fatal errors should be passed directly to the callback? Its a little bit confusing because it works against error-first-callbacks.

[2016-05-30 16:11] mcdonnelldean commented on #430
@StarpTech Exactly. I agree on it not being friendly though. It is something we are looking at in depth soon. It needs to be changed for sure but for now this should get you out of a hole.

[2016-05-30 16:22] StarpTech commented on #430
@mcdonnelldean This is same way you goes?  I think we should document this. Any beginner would thank you for that.

[2016-05-30 16:29] mcdonnelldean commented on #430
Way ahead of you! I'm 50% done on a doc for it for release with 3.0 👍

Kindest Regards,

Dean

[2016-05-31 04:54] boneskull commented on #399
@mcdonnelldean Yeah, basically.  I think I have solved my issue for now, however.

[2016-06-01 15:53] jackyphuong opened #431 "Seneca + consult"
I am new with Seneca, i found a plug in client load balace. But i dont know Seneca can work with Consult? If posible, how can seneca client can act?

Thanks,

[2016-06-01 15:55] shaunwarman opened #432 "Increase `seneca.act` timeout"
Is it best practice to act solely on the seneca client when manipulating all seneca options via:
[code]

... where one of the options could be a timeout for seneca actions? I tend to see some seneca timeouts when doing some tests locally. I see that the default action timeout is [11111 ms] (https://github.com/senecajs/seneca/blob/7dcd43011090885c927bc672762236031a875e51/seneca.js#L61-L62)

[2016-06-02 11:18] mcdonnelldean commented on #432
I tend to do them separately, eg https://github.com/nodezoo/nodezoo-github/blob/master/srv/start.js

[2016-06-02 12:16] mcdonnelldean commented on #431
@jackyphuong I've asked around, unfortunately there is nobody I have access to that has experience with this. I will leave the item open a few more days to see if a community member pops by.

[2016-06-02 15:04] jackyphuong commented on #431
@mcdonnelldean  many thanks

[2016-06-03 09:40] jackyphuong commented on #431
@mcdonnelldean I just implement this feature with Docker + Consul + Seneca, please ref to https://github.com/jackyphuong/microservice and try it

[2016-06-03 10:19] mcdonnelldean commented on #431
Oh nice! I'll take a peek over the weekend.

[2016-06-03 15:36] shaunwarman commented on #432
Ah, thanks!

[2016-06-03 15:36] #432 closed

[2016-06-03 22:00] salaerts commented on #407
Not at all.

[2016-06-04 08:47] StarpTech opened #433 "Check if matched pattern available"
Hi,
is it possible to check whether a matched pattern is available without running into a timeout? Thanks

[2016-06-04 08:58] mcdonnelldean commented on #433
Yes, you can use `seneca.use(somepattern)` which returns a bool

[2016-06-04 08:59] mcdonnelldean commented on #433
Oops fat fingered that answer its actually`seneca.has(pattern)` 😊

[2016-06-04 08:59] StarpTech commented on #433
I just thought "whaat" :D thanks!

[2016-06-04 09:08] StarpTech commented on #433
@mcdonnelldean but you can only check your registered actions within a plugin right? I want to check across plugins on the same seneca host.

[2016-06-06 23:27] mcdonnelldean commented on #433
@StarpTech It will check anything loaded locally and anything that is defined via `.client()` but that doesn't mean it is there, only that there is a handler registered. It won't cross the network to check.

[2016-06-07 11:12] StarpTech commented on #398
@mcdonnelldean is it possible to track the progress on 3.0 or how it is possible to contribute?

[2016-06-09 03:53] Kenny4444 opened #436 "Getting an Uncaught TypeError in jsonic while trying to run Seneca with Meteor."
I am getting the following error when trying to use Seneca with Meteor:

Uncaught TypeError: Cannot read property 'jsonic' of undefined jsonic.js:10
(anonymous function)	@	jsonic.js:10
meteorInstall.node_modules.seneca.node_modules.jsonic.jsonic.js	@	jsonic.js:2197
fileEvaluate	@	install.js:141
require	@	install.js:75
meteorInstall.node_modules.seneca.seneca.js	@	seneca.js:13
fileEvaluate	@	instal

[2016-06-14 07:18] ro70 opened #437 "seneca action fires again and again"
I'd like to connect a seneca-client to a non-seneca-server (php-tcp-socket on 127.0.0.1:8000).

[code]

The php-server receives the following data:
[code]
And sends this back to the seneca-client:
[code]
So far so good. As you see in the following log, the seneca-client receives the response (state: 'OK'). But reconnects/connects/disconnects with the server again and again until I interrupt (ctrl-

[2016-06-14 08:34] mcdonnelldean commented on #436
@Kenny4444 I haven't used Meteor. This may take some time.

[2016-06-14 13:05] ro70 commented on #437
The response of a seneca-server is something like:
[code]
My php-server's response does not contain the accept-field. Could this be the reason for firing the action again and again? If yes, where is the value of this field coming from?

[2016-06-16 07:01] ro70 opened #439 "promises within plugin"
This code

[code]

has the output

[code]

I'd expect the output

[code]

What am I doing wrong?

[2016-06-16 18:02] mcdonnelldean commented on #431
@jackyphuong I'm going to close this as the question was how to do this and you now have an implementation. I'm hoping to get a look at this soon. Looks interesting. Please feel free to reopen if you have anymore questions.

[2016-06-16 18:02] #431 closed

[2016-06-16 18:15] mcdonnelldean commented on #409
I've pushed this out until the August release as we have identified issues when testing V6 across the org. These need to be resolved first.

[2016-06-16 18:18] mcdonnelldean commented on #436
@Kenny4444 Having reviewed Meteor and it's way of working I don't think Seneca is going to work with it. Seneca is designed to 'own' your backend in a similar way that Meteor does. For that reason it would be my opinion that both are not compatible with each other.

I'm going to close as incompatible, if you have any questions though, please feel free to reopen. Thanks!

[2016-06-16 18:18] #436 closed

[2016-06-16 18:26] mcdonnelldean commented on #414
@mcollina As discussed this week, closing due to other work needing to be complete first. Once the initial groundwork is layed we will reframe and replan 👍

[2016-06-16 18:27] #414 closed

[2016-06-16 18:41] mcdonnelldean commented on #154
This is not a bug. @psnider your way of doing it is the soundest way. I've come to the opinion that testing the logic in plugins using a full seneca instance is not a good way to go; it breaks the system under test ideal. Your way is the best way to remove external influences from your test.

I'm going to go ahead and close, please reopen if you have any more questions. Cheers!

[2016-06-16 18:41] #154 closed

[2016-06-16 18:45] ro70 commented on #439
@mcdonnelldean Without using a plugin the code is working as expected:
[code]
gives
[code]

[2016-06-16 18:54] mcdonnelldean commented on #439
Hmmm, I need to look into this more. I missed the plugin part.

[2016-06-17 09:10] ro70 commented on #439
@mcdonnelldean Solved (maybe you can explain why ;-). I renamed the promisified act method inside the plugin (it's 'actSync' now).
[code]

[2016-06-17 12:16] mcdonnelldean commented on #439
That is odd indeed. I'm going to run some tests on this. My assumption is that since plugins are contextual (EG Seneca is made available as `this`) `seneca.act()` and your act are colliding... But that is just a running assumption, I need to do a little research. Lets leave this open for now. Thanks for reporting!

[2016-06-17 15:56] ro70 commented on #439
@mcdonnelldean Probably I sat a bit too long in front of my computer. My solution above is absolute nonsense! I forgot to rename the act method in the first 'then' function. As soon as I rename it too, the script shows the same behaviour as my very first one...

[2016-06-17 16:41] ro70 commented on #439
@mcdonnelldean Hope this time it's really solved! I have to pass the seneca instance via options into the plugin. Don't ask me why it's working like that, maybe you could explain...
[code]
gives (with log: silent)
[code]
as it should be.

[2016-06-18 07:46] ro70 commented on #437
@mcdonnelldean Maybe it's related to https://github.com/senecajs/seneca-transport/issues/91

[2016-06-20 19:29] astery opened #440 "Parambulator 'required$' doesn't participate in pattern matching"
[code]

In `role:replaces_last` I expect same behaviour as in `role:as_expected`. How can I achieve that?

[2016-06-22 14:01] psnider commented on #159
I pushed this to the TypeScript community repository for declaration files:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/seneca/seneca.d.ts

Please let me know if you find anything you want me to change.

[2016-06-24 06:04] ro70 opened #441 "Security question"
With
[code]
(see [here](https://github.com/senecajs/seneca-transport))

anyone can call any services. Am I right? If so, how can I prevent this?

[2016-06-27 14:54] jackyphuong opened #442 "Seneca for long running process"
Hello, i am trying to find to way to implement long running process such as service to send mail, resize image,... I tried to use amqp but it seems it just supports request-response. Could you please let me know how can implement in Seneca?

Thanks,

[2016-06-27 15:54] timoweiss commented on #442
To call something async (fire&forget) you can simply remove the callback of of your seneca.act call:

[code]

Another option could be to immediately call back in the service:

[code]

[2016-06-27 16:04] timoweiss commented on #441
I think you should secure your network in this case.
eg. open only port 443 and authenticate/authorise requests in an API-layer. From there you can dispatch the work that needs to be done to your services.

But yes, from inside the network, your services are "callable".

[2016-06-27 16:05] mcdonnelldean commented on #442
As @timoweiss says.

We have a sample of this via nodezoo, see https://github.com/nodezoo/nodezoo-docs/blob/master/doc/architecture.md specifically nodezoo-updater and nodezoo-dequeue

[2016-06-27 16:07] mcdonnelldean commented on #441
Yes, generally your microservice system is internal, any external calls should be handled via a proxy or gateway.

[2016-06-27 16:28] jackyphuong commented on #442
Thanks, I will try

[2016-07-07 12:30] mcdonnelldean commented on #442
Awesome, I'll go ahead and close. Feel free to reopen if you have any more questions.

[2016-07-07 12:30] #442 closed

[2016-07-07 12:31] mcdonnelldean commented on #441
@ro70 I'm going to close as answered but feel free to reopen with further questions!

[2016-07-07 12:31] #441 closed

[2016-07-07 23:50] StarpTech commented on #318
Hi @mcdonnelldean we can reproduce the issue. This is not fixed. In our production environment it leads to a big issue. Please investigate in this to make seneca basic transport stable.

Please checkout https://github.com/platdesign/seneca-issue and upgrade to the latest seneca version in the package.json e.g 2.1.0

1. Start client.json
2. Start server.json
3. Restart server.json = Server repeats

[2016-07-07 23:52] StarpTech commented on #437
Hi @ro70 we reopen issue  senecajs/seneca#318 we test it against 2.1.0

[2016-07-08 08:32] rjrodger commented on #440
Validation only applies to *non* pattern properties.

Pattern properties must always be strings, and if the pattern doesn't match, then nothing happens, so validation is self-enforcing.

If you do need to do custom validation, use a prior (http://senecajs.org/tutorials/understanding-prior-actions.html) or a more general pattern.

[2016-07-08 08:35] rjrodger commented on #429
In this version of the plugin system log entries that are emitted before the plugin init completes don't use the returned name - it hasn't been returned yet :)

The workaround is to name the plugin function:

[code]

Later this year we will introduce a streamlined plugin system to address technical debt such as this. It will of course be backwards compatible.

[2016-07-08 08:37] rjrodger commented on #415
Sorry guys this is by design :)
The multiple arguments are just a convenience - pattern matching is applied on a message basis - ie on the full JSON document as received.
Probably needs to be a FAQ.

[2016-07-08 08:41] rjrodger opened #444 "option properties: admin moves to seneca-admin"
This is a legacy option that applies only to seneca-admin.

[code]

[2016-07-08 08:46] rjrodger opened #445 "option properties: internal should only contain functions or object instances"
this is the place for internal customization - e.g. loggers
internal is not serializable and is excluded from the option dump log entry

move current declarative properties to `system` top level property:

[code]

[2016-07-08 08:50] rjrodger opened #446 "seneca.util.argprops"
Is this used anymore? Definitely should be deprecated. Move to legacy for Seneca 3.x and remove in 4.x?

[2016-07-08 08:52] rjrodger opened #447 "hasplugin, findplugin, plugins are core API methods"
They should not be decorations.

[2016-07-08 08:54] mcdonnelldean commented on #439
@ro70 can you try using the local plugin context but rename it, so,

[code]

Looking over the code above I think your locally required version of seneca and the function context are clashing, both your context and `this` are the same object so you shouldn't need to do that.

[2016-07-08 08:56] mcdonnelldean commented on #446
I'll do a sweep around the core plugins and note them here if I find anything.

[2016-07-08 09:07] mcdonnelldean commented on #415
@rjrodger No doubt and I can see the reason for it being the way it is, especially when working with Entities or something. But given the difference is a simple merge operation could we not have this as a feature behind a flag?

The premise would be,

- flag off, message and payload are unique, message is matched only
- flag on, message and payload are merged, merged object is the message.

Defaul

[2016-07-08 09:13] mcdonnelldean commented on #415
Yeah ignore my last comment, I basically argued in favour of not doing this :D

@mirceaalexandru I know there was an actual use case for why this was raised in Nodezoo. Can you remember what it was. I would like to tease it out here.

The fact is if we thought this was the way to go, working through that problem and updating the FAQ is probably a good idea. I can update the FAQ but I want to use t

[2016-07-08 09:21] mcdonnelldean opened #448 "Seneca User and Seneca Auth are braking master"
They are part of the linked tests.

I assume this is because Entities is really missing this time although this didn't present itself in the PR test runs, https://travis-ci.org/senecajs/seneca/builds/135738734

I'll go investigate this afternoon. My suspicion is this is to do with the latest version of seneca-entity being bumped.

[2016-07-08 09:27] mcdonnelldean commented on #448
Yup, both are using entity 0.0.1 which is breaking.

[2016-07-08 10:06] mirceaalexandru commented on #415
@mcdonnelldean
I don't remember exactly the place, I will take a look, but the scenario was simple. We do have there patterns with something like:

`role: 'info', cmd: 'get'`
and
`role:'info', req:'part'`

and I wanted to use one of them and matched the other one.

So basically, my concern is that if we do not have a uniform pattern used in the whole application (like using only `role/cmd` for def

[2016-07-08 10:27] mcdonnelldean commented on #415
@mirceaalexandru Ah yes! now I remember, we were having pattern collisions as the system became more complex due to our payload key names.

I had a think about this one actually and never wrote it down.

My feeling here is that the real issue is the some of patterns in nodezoo are bad because the are easily matched by common keys used in payloads.

One of the things on my list is to better arrange

[2016-07-08 10:36] mirceaalexandru commented on #415
@mcdonnelldean Agree with you.

On the other hand specifying explicitly the pattern might help exactly in such cases, when we can have these collisions and we want to make sure that the action being called is exactly the desired one.

[2016-07-08 13:12] StarpTech commented on #318
@mcdonnelldean  Please reopen!

[2016-07-08 20:07] ro70 commented on #439
@mcdonnelldean Unfortunately, I didn't get to work it with your suggestion.

[2016-07-08 20:13] mcdonnelldean commented on #318
Hey @StarpTech really sorry to hear this is still a problem. We also found the test based off the above code was returning false positives. At this stage we are looking to simply rewrite that whole section of logic. I'll ping this issue when I have more details on what the plan is.

[2016-07-08 20:20] StarpTech commented on #318
Hi @mcdonnelldean hope you get it. Thank you.

[2016-07-08 20:32] mcdonnelldean commented on #439
@ro70 being honest, I am flummoxed as to why not. I've some free time over the weekend and I'll take a look. Ultimately the seneca instance of this should be the exact same. I'll play around with your working code and see if it is something to do with the binding of `this`.

[2016-07-08 20:33] mcdonnelldean commented on #440
@astery I'm going to go ahead and close as answered. If you need any more info though, please go ahead and reopen 👍

[2016-07-08 20:33] #440 closed

[2016-07-11 12:31] StarpTech commented on #318
HI @mcdonnelldean it is worth to keep at senecajs as a microservice tookit? This issue is almost 5 months old and nobody take care of it. It's not just a bad implementation it's a huge issue in the transport protocol. The fact that this simple scenario never happens on any other environemnt leads me to the conclusion that nobody use the TCP transport or senecajs isnt used anymore.

Also the roadma

[2016-07-11 13:55] mcdonnelldean commented on #318
@StarpTech

First off, apologies, I understand it can feel like nobody's listening. I want to assure you we are. Seneca is a very large project with a lot of moving parts and with that comes prioritisation.

Right now we are working on changing the roadmap. We hit some tricky core issues when we attempted to remove error handling which forced us to stop and reconsider our next steps. Logging is al

[2016-07-11 14:33] StarpTech commented on #318
@mcdonnelldean

thank you for your honest answer. I recommend a warning message on readme page of the tcp-transport repository. I don't wish any people this bug.

[2016-07-12 10:33] AkashSouravNayak commented on #146
how we can know how many concurrent call can be done in seneca?

[2016-07-12 10:37] mcdonnelldean commented on #146
@AkashSouravNayak Please open a fresh issue for non related questions. Cheers.

[2016-07-12 11:10] AkashSouravNayak opened #449 "concurrent call in senecajs"
how we can know how many concurrent call can be done in senecajs?

[2016-07-12 12:18] mcdonnelldean commented on #449
Hey @AkashSouravNayak could you give me more detail? The answer based on the above is different depending on the context. It depends on transport used, data transfered, etc.

[2016-07-12 12:53] AkashSouravNayak commented on #449
Atually i am trying to develop one software using nodejs-mariadb and using senecajs microservice so i want to know how to limit concurrent call from senecajs?

[2016-07-13 13:05] jamesf7 opened #451 "seneca .load not matching _id field from local database"
Hi,

Seneca not matching _id field from local database which i recently migrated from live database. Though same query working on live database.

`userEntity.loadPromise({ '_id': new ObjectID(msg.userId) })`

Only difference is local mongodb version is 3.2.8 and compose(live) one is 2.6.9.
Query from robomongo tool on local database working fine.do we missing something in this?
Thanks in advance.

[2016-07-17 05:16] psnider opened #453 "2.1.0 doesn't define make() ?"
I just upgraded Seneca to the latest version, 2.1.0,
and my code stopped working.
After discovering that my code complains that its seneca instance doesn't have the make() function, I followed the documentation:
http://senecajs.org/tutorials/understanding-data-entities.html

and found that a fresh install also fails in the same way.
I'm using npm v3.3.9, and node v5.0.0:
[code]
Then from within th

[2016-07-17 06:07] mihaidma commented on #453
starting from seneca 2.0 the seneca-entity was extracted as a separate plugin, you have to explicitly do a `use('seneca-entity')`.
A sample: https://github.com/senecajs/seneca-postgres-store/blob/master/test/postgres.test.js#L29

[2016-07-18 13:59] mcdonnelldean commented on #453
@psnider Yup what @mihaidma says.

We are refreshing the instructions for Seneca in the next week. Going forward there will an explicit upgrade document for each breaking change. It is currently being worked on.

[2016-07-18 13:59] #453 closed

[2016-07-18 13:59] mcdonnelldean commented on #448
I think we can call this resolved. Many thanks for the help @mihaidma

[2016-07-18 13:59] #448 closed

[2016-07-18 14:00] mcdonnelldean commented on #449
@AkashSouravNayak It may be best to come have a chat in the Gitter channel https://gitter.im/home/explore I'd need more context as the question is too open ended to give a finite answer.

[2016-07-18 14:00] #449 closed

[2016-07-19 19:24] psnider commented on #453
After I added:

things worked better, but now I get the rather cryptic message:

      raw[key] = seneca.make$(value)

Is this a bug, or am I missing something else related to the 2.1 changes?

[2016-07-19 20:37] mihaidma commented on #453
Could you please do a `npm ls | grep seneca` and post the seneca version, entity version, transport version?

How can we reproduce? What's your app structure?

[2016-07-19 20:54] mcdonnelldean commented on #453
I'm pretty sure this is due to transport needing entities. Its fixed in 3.0 which is going out in about a week. Could you follow Mihai's instructions above and also show your load order?

I have a feeling entites are loading late.

Originally entities had an odd dependency on entities but it's solved in later versions

Kindest Regards,

Dean

On 19 Jul 2016, at 21:37, Mihai Dima <notifications@git

[2016-07-19 21:09] psnider commented on #453
npm ls | grep seneca:
[code]
Reducing my app, I'm still able to reproduce the transport-utils.js:492 error with the following two files:
**people-app.js**:
[code]

and **people-pin-service.js**:
[code]

I run these in two separate shells using:
[code]
and

[code]

then curl a create request at it:
[code]

[2016-07-19 21:53] mcdonnelldean commented on #453
In the fist one I don't see entity used

Kindest Regards,

Dean

On 19 Jul 2016, at 22:09, psnider <notifications@github.com<mailto:notifications@github.com>> wrote:

npm ls | grep seneca:

??? seneca@2.1.0
? ??? seneca-basic@0.4.0
? ??? seneca-cluster@0.0.1
? ??? seneca-mem-store@0.5.0
? ??? seneca-parambulator@0.2.0
? ??? seneca-repl@0.2.0
? ??? seneca-transport@1.2.0
? ??? seneca-web@0.7.1
???

[2016-07-19 22:30] psnider commented on #453
The first one, **people-app.js**, only forwards requests to the second one.
And people-app.js doesn't reference any part of the entity package.

So isn't it an error that its referencing entity down in the transport?
I don't understand why I should add:

to people-app.js.

[2016-07-19 22:43] mcdonnelldean commented on #453
Yes,

But in all instances of seneca you need some form of transport. Since that version of seneca doesn't contain them by default you need to include entities to get transport to work.

As mentioned above, this is resolved in 3.0 as transport no longer has a dependency on it.

Kindest Regards,

Dean

On 19 Jul 2016, at 23:30, psnider <notifications@github.com<mailto:notifications@github.com>> wro

[2016-07-22 12:25] rjrodger commented on #451
This issue is best raised on the mongo-store plugin: https://github.com/senecajs/seneca-mongo-store

Some test case code to reproduce would also be useful - thanks!

[2016-07-22 12:29] rjrodger opened #454 "Testing mode"
Seneca is awkward to use in a unit test context as it is designed to be run as a service.
Current unit testing best practice is to set the log mode to 'test', and use the global error handler:

[code]

It would be cleaner, _and enable additional test-friendliness behind the scenes_ to be able to say:

[code]

This would set up appropriate logging etc

/cc @mcdonnelldean @pelger @geek

[2016-07-22 12:54] rjrodger commented on #415
This issue arises when patterns have the same number of properties. Which pattern "wins"?

  * a:1, b:1
  * a:1, c:1

There is a rule to cover this: alphabetical precedence. So a:1, b:1 wins, as b is earlier than c
See: https://github.com/rjrodger/patrun#the-rules

The pattern set must be *fully-ordered*, otherwise the engine can't decide where to send messages.

[2016-07-22 13:11] mirceaalexandru commented on #415
@rjrodger Yes, I agree with you.

The issue is more about the fact that the pattern is supplied separately and I was under impression that because of this it will be used just that for pattern matching. I think we should have this specified in documentation.

I will close this issue.

[2016-07-22 13:11] #415 closed

[2016-07-22 13:36] AdrianRossouw commented on #454
why would you pass it the done callback?

wouldn't you end up having to call it twice once you are actually done with your tests.

[2016-07-22 13:53] rjrodger commented on #454
Hi @AdrianRossouw !

.test(done) just stores a reference to done that is only called in the case of an error
this means you can ignore the error parameter in test code
in the current version .error(done) does the same thing
example: https://github.com/senecajs/seneca/blob/master/test/sequence.test.js

you do indeed call done once you are finished, but it is always to indicate success

[2016-07-22 14:48] AdrianRossouw commented on #454
But isn't the idiosyncratic usage of the code to be 👍

[code]

In that case, (the common one), done would be called more than once.

I don't think we should be calling the done function for the user unless they specifically request it in their flow.

[2016-07-23 17:40] spywhere commented on #439
Also even though passing Seneca instance via plugin options is working fine (as from @ro70 example), when use Seneca with Express framework it crash immediately when pass Seneca instance to the plugin (remove the first line will work properly).

[code]

But if I use a code from the example,

[code]

the web server will respond

[code]

instead of
[code]

[2016-07-25 14:59] xogeny commented on #383
I ran into this because I was trying stuff out in the documentation.  I understand it takes some time for the documentation to be changed.  But it seems like it would be nice if the `make` and `make$` functions had placeholders that generated an error that said something like "entity services are no longer loaded by default, install seneca-entity and run use('entity') to enable them".

Is there an

[2016-07-25 15:16] jagin commented on #398
Hello, any news about 3.0.0 - June 2016 release?

[2016-07-25 16:26] mcdonnelldean commented on #398
Hey,

Yes there will be an update to the roadmap tomorrow to correct it and realign priorities. I can ping this message when done.

Kindest Regards,

Dean

On 25 Jul 2016, at 16:16, Jarek Gilewski <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello, any news about 3.0.0 - June 2016 release?

-
You are receiving this because you were mentioned.
Reply to this email directly, vi

[2016-07-26 06:31] fkrauthan commented on #397
Just wondering I know at one point you guys where talking about traceability of transactions in log messages. But I haven't read anything about that in the last posts. Is that still a consideration for the logging system or was that requirement dropped? Because I think that would be the most important requirement to allow me as a Developer/DevOps person to exactly be able to trace back a certain u

[2016-07-26 08:47] auridevil opened #456 "seneca.js fatal 404"
While receiving fatal error seneca print this message:
  ALL ERRORS FATAL: action called with argument fatal$:true (probably a plugin init error, or using a plugin seneca instance, see **senecajs.org/fatal.html)**
    at ....

but **senecajs.org/fatal.html** doesn't exists on the server (404)

[2016-07-26 10:25] indr commented on #384
I tried to use the rjrodger/seneca-jsonrest-api plugin and encountered this problem. The pull request senecajs/seneca-web#70 might fix this issue.

[2016-07-26 10:26] indr commented on #348
I tried to use the rjrodger/seneca-jsonrest-api plugin and encountered this problem. The pull request senecajs/seneca-web#70 might fix this issue.

[2016-07-27 10:52] mcdonnelldean commented on #456
Moved to https://github.com/senecajs/senecajs.org/issues/236

[2016-07-27 10:52] #456 closed

[2016-07-27 10:53] mcdonnelldean commented on #451
Moved to: https://github.com/senecajs/seneca-mongo-store/issues/43

[2016-07-27 10:53] #451 closed

[2016-07-27 13:37] mcdonnelldean commented on #383
@xogeny Thats a good shout. The docs should be sorted quite soon. The issue is it would block those commands from working since it works via decoration. Having said that. The message generally needs to be clearer when a decoration is missing. I'll make a note of that.

[2016-07-28 11:10] mihaidma opened #459 "internals.name not setting plugin name properly"
Internal seneca code:
[code]
logs:
[code]

`seneca-mem-store` and `seneca-web` names are scrambled
**internals.name** not functioning properly: https://github.com/senecajs/seneca-mem-store/blob/master/mem-store.js#L12

[2016-07-28 11:34] mihaidma commented on #459
merged with:https://github.com/senecajs/seneca/issues/429

[2016-07-28 11:34] #459 closed

[2016-07-28 11:34] mihaidma commented on #429
realted issue: https://github.com/senecajs/seneca/issues/459

[2016-07-29 04:55] amitava82 commented on #375
I just bumped into this issue.

[2016-07-29 09:09] indr commented on #375
I took this issue as a little debugging exercise to get deeper understanding about pattern matching. There seems to be a problem with the building or reading of the keymap tree (this is where the destination meta info of a action/pattern is looked up). The lookup function is defined in https://github.com/rjrodger/patrun/blob/master/patrun.js#L134. Let me try to explain the algorithm with the follo

[2016-07-29 20:03] indr commented on #375
Basically, the order of the pattern keys is what causes the issue here. Too bad "role" comes after "cmd". How about @rjrodger changes his [rjrodger/patrun](https://github.com/rjrodger/patrun) algorithm to work in reverse order?  :smirk: [0]

The following example illustrates the problem a bit better. `pattern1` is present in both the client and the service. As with real patterns containing `'cmd:g

[2016-07-31 18:33] mcdonnelldean commented on #375
@indr This is super interesting stuff. The problem plugin is `seneca-basic` which is coming out soon. It is what is adding the get pattern.

@rjrodger Might be an idea to have a quick look through this. It's interesting to see a clash like this.

[2016-08-02 12:49] indr opened #460 "seneca.wrap() returns undefined"
[code]

[code]

[2016-08-02 14:09] rjrodger commented on #429
@mihaidma have these changes been made? I don't see a linked resolving commit?

[2016-08-02 14:14] mihaidma commented on #429
@rjrodger no, not made yet. I'll put it on the task list

[2016-08-03 09:10] danswater opened #461 "Error: gate-executor question"
What I'm trying to do is I want to create a service that will upload some images to cloudinary, cloudinary provides an SDK for uploading images to their server.

So this is what my code looks like

[code]
And I tried to call this service for testing

[code]

Everytime I run the code above seneca always throw this error.

[code]

[code]

Can someone point me out what is wrong with this one?

Thanks

[2016-08-03 09:59] indr commented on #461
Do you call the callback in your init action?

[2016-08-03 10:12] danswater commented on #461
I updated the init action

[code]

but still I got the same error.

I suspect that this line of code seneca throws an error
[code]
because when I try to remove the cloudinary and calling ```reply( null, { 'res' : 'testing' )``` instead it actually works fine.

[2016-08-03 10:18] indr commented on #461
And you are sure your init action gets called? Because the plugin name differs. Try this
`seneca.add( {init:plugin}, init  );`

[2016-08-03 10:24] danswater commented on #461
@indr , Thank you for figuring out my mistake! :)

I initially name my plugin to ```files``` and then eventually rename it to ```fileManager``` but I forgot to renamed this part ```seneca.add( {fileManager}, init )```.

[2016-08-03 10:29] indr commented on #461
@danswater My pleasure :smile:

[2016-08-03 10:29] danswater commented on #461
I'm closing this issue now. Seneca rocks!

[2016-08-03 10:29] #461 closed

[2016-08-03 14:05] ssmereka opened #462 "Seneca ignores errors when a result is present in a reply message."
When returning both an error and a result in a seneca reply message, seneca is ignoring the error.

[code]

[2016-08-04 04:26] indr opened #463 "Plugin init action is called with path information"
I'm aware that there is an ongoing redesign of the plugin system. But this took me hours to figure out and it hopefully saves time for someone else...

[code]

[code]

[code]

One solution is to export the plugin with a named function:
[code]
But this works ofc not with dashes inside function names :/

[2016-08-04 04:37] indr commented on #463
What I do in like mocha tests is this:
[code]

And guard my init function for the future:
[code]

[2016-08-04 08:56] indr commented on #462
It works for me. When I run this script:
[code]

I get
[code]
`err == null: false` :+1:

What version of seneca and node are you using?

[2016-08-04 13:28] ssmereka commented on #462
I am using node ```v6.2.0``` and seneca ```v2.1.0```.  It occurs when using a client and server.  Sorry, this is a better example:

# Client.js
[code]

# Server.js
[code]

# Server Output

[code]

# Client Output
[code]

[2016-08-04 14:06] indr commented on #462
Yeah, can reproduce. It's interesting because it works if I
 - use `tcp`
 - or wrap either the `seneca.client(...)` or `seneca.act(...)` in `seneca.ready(...)`

[2016-08-04 14:20] indr commented on #460
There is an ambiguity between the getting started guide and the source code. In the chapter [Writing microservices](http://senecajs.org/get-started/#writing-microservices) `wrap()` is introduced as an API method, in [seneca.js#L358](https://github.com/senecajs/seneca/blob/master/seneca.js#L358) I read:

[code]

[2016-08-05 21:54] dimichgh opened #464 "backlog in lib/transport.js would never get send"
I am not sure if this is used, but while looking at the code I found that this part does not seem to be right: https://github.com/senecajs/seneca/blob/master/lib/transport.js#L145

Should it internally use liveclient when working on backlog instead of the one that populates backlog?

[code]

[2016-08-07 17:10] grandmore opened #465 "Is there any work being done gRpc"
Is there any work being done on using [gRpc](http://www.grpc.io) as the transport layer instead of http/tcp?

I have been working my way through it over the weekend and realise that it would be very beneficial to Seneca.js.

1. built in health checks
2. faster and smaller (3 orders of magnitude)
3. hooks for logging & tracing.
4. bidirectional traffic
etc etc

I was looking at how to add tracing u

[2016-08-08 03:55] RamonDonnell opened #466 "Nested modules loosing transport configuration"
I have a simple nested module setup as seen in the code below, using redid-transport as an example.

[code]

[1], [2] work, but [3] in the second level nested module does not.

When the app starts it should subscribe on redis with the 'role:pub,cmd:something' pattern. Monitoring this with redis-cli, [1] & [2] both subscribe, [3] does not.

I added a dynamic property to seneca in app.js and it appe

[2016-08-08 08:52] mcdonnelldean commented on #465
@grandmore No plans right now. Having said that, we certainly wouldn't be upset if someone wanted to explore a gRpc transport.

[2016-08-08 09:10] mcdonnelldean commented on #466
@RamonDonnell Maybe it's a bug in redis? The code above is not complete so is untestable. I came up with this sample, over http, that works as expected,

[code]

It essentially does the same thing, wire up sub modules. The result I get is,

[code]

I left in the meta info too so you can see it goes over transport,

[2016-08-08 09:49] grandmore commented on #465
I am going to look into it today as it solves a lot issues for me. I assume there be a few unknowns but hopefully no 'gotchas'.

If it works I'll contribute the code.

Thanks.

[2016-08-08 10:48] RamonDonnell commented on #466
@mcdonnelldean following your sample, I replaced with latest seneca-redis-transport.

[code]

uncomment  .use(subModule) results in tester timeout (with no redis subscribe)  ; or
uncomment  .use(subSubModule) works as per the http sample (with a redis subscribe as expected).

You'll need
redis installed (no password)
npm seneca-redis-transport

As another test I pulled out redid-transport.js into

[2016-08-08 11:16] mcdonnelldean commented on #466
@RamonDonnell Looks like a Redis issue. That plugin is on a list of things to fix in the next 3 weeks. If this is a bug we should get to it soon. I don't think it is seneca proper since http works as expected.

[2016-08-08 11:20] RamonDonnell commented on #466
I'm happy to have a look at redis, as I've been through it in detail and I've got an async redis version I'm working on with the same issue.

Which transport plugin is the best to use as a reference ?

[2016-08-08 11:48] mcdonnelldean commented on #466
@RamonDonnell Good stuff! [redis-queue-transport](https://github.com/senecajs/seneca-redis-queue-transport) is decent. As is the standard one (http + tcp)

Honestly all the transports are a little icky and being worked on soon so any help is much appreciated.

We also have a gitter channel which I try to check 1 per day https://gitter.im/senecajs/seneca which is a good place to ask questions.

[2016-08-09 17:49] grandmore opened #467 "the tcp transport does not work"
@dimichgh has fixed it in a PR. When will you update this version to bring in the fix for the seneca transport? https://github.com/senecajs/seneca-mesh/issues/40

I have forked seneca in order to get the update but it would be more convenient if it was brought into the the current version.

Thanks.

[2016-08-09 17:57] grandmore commented on #465
I have looked into adding grpc, but from what I can see it will not be straight forwards as there is a lot of reliance on the [transport/transport-utils.js](https://github.com/dimichgh/seneca-transport/blob/master/lib/transport-utils.js) library in many of seneca components, namely seneca-transport, seneca-mesh and seneca-balance.

In order to use grpc these three libraries would need to be update

[2016-08-10 09:12] mihaidma commented on #467
mesh was moved to senecajs org and will be reviewed today. Should not take more than 1-2 days

[2016-08-10 09:32] #465 closed

[2016-08-10 09:33] #467 closed

[2016-08-10 11:35] mcdonnelldean commented on #466
Closed as redis-transport issue

[2016-08-10 11:35] #466 closed

[2016-08-10 11:42] mcdonnelldean commented on #463
@indr This looks like a bug for sure.

[2016-08-10 12:18] mihaidma commented on #466
@RamonDonnell we renamed the seneca-redis-transport: https://github.com/senecajs/seneca-redis-pubsub-transport

[2016-08-11 10:40] mcdonnelldean commented on #406
@nfantone Hey, massive apologies for the delay on this. I will have documentation around this either later today or tomorrow. We finally got consensus on realistically enabling the community to own major plugins that live in the official org. As soon as the document is ready I will share it here.

[2016-08-11 11:10] mcdonnelldean commented on #410
Both 0.10 and 0.12 have been dropped for 3.0 via #473 #472

[2016-08-11 11:10] #410 closed

[2016-08-11 11:10] #445 closed

[2016-08-11 11:10] #444 closed

[2016-08-11 11:13] mcdonnelldean commented on #397
@fkrauthan The logger is now fully pluggable. There are changes to transport happening soon that will enable better traceability. It hasn't gone away, and is definitely on the list.

[2016-08-11 11:13] #397 closed

[2016-08-11 11:15] #413 closed

[2016-08-11 20:55] nfantone commented on #406
@mcdonnelldean Good to hear! Though "Massive" sounds like a number a tad above what's necessary. No need for apologies.

Just let me know if I can be of help.

[2016-08-12 09:50] StarpTech opened #481 "Logging - tracing"
Hi,
what is best-practice to log my microservice infrastructure with senecajs? Which tools do you use?
How can I track, Latency, timeout problems or discovering the call chain of all responsible services?
Thanks.

[2016-08-12 09:56] mcdonnelldean commented on #437
Merged with https://github.com/senecajs/seneca-transport/issues/114. This issue and the one above are all the same. We are hoping to fix this soon.

[2016-08-12 09:56] #437 closed

[2016-08-12 09:57] dgonzalez commented on #318
Merging with: https://github.com/senecajs/seneca-transport/issues/114

The problem is in transport.

[2016-08-12 09:57] #318 closed

[2016-08-12 10:02] mcdonnelldean commented on #481
From Seneca 3.0 you will be able to directly swap out the logger. Given everything goes through this you can pull stats from it in a less latent way than listening for all of the messages.

See https://github.com/senecajs/seneca/blob/master/docs/examples/basics-custom-logger.js

Seneca logs everything that happens, when a plugin loads, when it is ready, when an act enters, and when it leaves. You

[2016-08-12 11:37] mcdonnelldean commented on #409
This has been added.

[2016-08-12 11:37] #409 closed

[2016-08-12 11:40] thekemkid commented on #429
So, I've reproduced this, but the plugin logs only display './plugin-path' in the init phase, then will be updated with the returned name, after.

All I can suggest doing is adding a log to state './plugin-path updated plugin log name to plugin-name'

[2016-08-12 14:04] jamaikarima opened #484 "recover data form"
Hi,
I am new to seneca. I recover the data form(HTML form) with JSON ,
how can I recover it with seneca ?
how can i send data to JSON (or HTML ) ?

[2016-08-12 14:22] mcdonnelldean commented on #484
@jamaikarima You wouldn't.

Generally, you would use Hapi or Express or some other HTTP server to talk to the browser. This would then talk to one or more seneca microservices.

Please see: http://senecajs.org/docs/tutorials/getting-started.html

[2016-08-12 14:22] #484 closed

[2016-08-12 14:30] jamaikarima commented on #484
@mcdonnelldean thank's for the response,
i already use express server to talk with the browser my problem is how get the data form and use it as an input data

[2016-08-12 19:20] mojochao opened #485 "http://senecajs.org/get-started/ not found"
The quick start link from the main page directs to http://senecajs.org/get-started/ which isn't found.

[2016-08-15 13:34] mcdonnelldean commented on #485
Hey @mojochao cheers for letting me know. We have a bug in the plugin that rewrites the URLs in our website. Should be fixed soon. You can find the doc at the URL  http://senecajs.org/docs/tutorials/getting-started.html for now.

I have this issue noted on the site repo too so I will go ahead and close this. Cheers!

[2016-08-15 13:34] #485 closed

[2016-08-15 13:35] mcdonnelldean commented on #481
@StarpTech I'm going to go ahead and close as answered. We will have a couple of loggers to demonstrate this in more detail for 3.0 in a little over a week.

[2016-08-15 13:35] #481 closed

[2016-08-15 13:35] mcdonnelldean commented on #464
@rjrodger Could you comment here?

[2016-08-16 12:07] StarpTech commented on #481
HI @mcdonnelldean sounds great I am very excited to see the imrovements of 3.0

[2016-08-16 13:55] mcdonnelldean commented on #446
Didn't find anything using it. Because of that, I'll deprecate for 3.x. There will be a notice in the release notes about it. Closed via #489

[2016-08-16 13:55] #446 closed

[2016-08-16 13:56] mcdonnelldean commented on #433
Closing as answered feel free to open if you have further questions.

[2016-08-16 13:56] #433 closed

[2016-08-16 20:29] bitmage commented on #282
This is sort of random, but I had weird memory leak issues in the past using the Redis client on an unrelated project.  Maybe it's a bug in the Redis client.  Were you able to reproduce it with Redis included?

[2016-08-17 10:45] mihaidma opened #492 "Run plugin tests against the PR branch"
Travis runs tests with seneca also against seneca plugins. The issue is that for plugins the tests are running against master. Check if Travis has an env variable that specifies the PR branch and run plugin tests against it.

For seneca itself the tests are running against the PR branch.

[2016-08-17 12:51] rjrodger opened #493 "adaptive timeouts, as per squbs"
see https://github.com/paypal/squbs/blob/master/docs/timeoutpolicy.md
for 4.0

[2016-08-17 13:30] mcdonnelldean commented on #493
This would be super welcome. I like the idea of this being something you set external to the adding of the action; the reason being the policy may change depending on how the plugin is loaded.

My first thought was it makes sense to add it as a part of transport, but that means no timeouts on 'function' transported messages.

I think it may belong in two places,

1: Part of seneca proper,

[code]

[2016-08-17 14:13] mihaidma commented on #493
The feature looks good.
Probably at least the execution time needs to be tracked at seneca level. The calculus part could be exported to plugin level.

[2016-08-17 16:56] amitava82 opened #495 "Response with statusCode 201 throws error"
This is really weird. I have a very simple seneca client and server setup from the tutorial. Only difference is that in the callback I have a `statusCode` property like so:
[code]
If I set the `statusCode` to `200` or remove the property it works just fine. Even with just `status: 201` it works fine.  With `statusCode: 201` client throws error.

Error:
[code]

[2016-08-22 08:50] mcdonnelldean commented on #495
@amitava82 Hey, which tutorial specifically is this from?

[2016-08-22 09:10] amitava82 commented on #495
@mcdonnelldean I don't think it's specific to any tutorial. Here is simplest code to reproduce:

[code]
[code]
[code]

[2016-08-22 09:18] mcdonnelldean commented on #495
I bet it is to do with our http router for the http transport. I'll have a look at this during the week.

[2016-08-22 10:27] mcdonnelldean commented on #495
@amitava82 I've moved this to https://github.com/senecajs/seneca-transport/issues/119 so it doesn't get lost when we are looking at transport.

Looks like a bug for sure. Thanks for the report.

[2016-08-22 10:27] #495 closed

[2016-08-22 10:48] mcdonnelldean opened #500 "Ensure err is an Error via GateExecutor"
Via,

https://github.com/senecajs/gate-executor/issues/10

Errors are not correctly propagating. There were changes to the GateExecutor which push the problem up to Seneca to be fixed.

[2016-08-23 09:29] dhautotlf opened #503 "Issue with actcache: actId collision"
Hi,

We have 4 hapijs processes running in parallel + 4 seneca client instances all behind 2 loadbalancers.
We have `actid` collision when running in production.

Flow:
1 - Calling action1 gives `OUT 69/l8 cmd:*,role:a` on api_node_01 which calls **cmd:a,role:a** on srv_node_01
Some days later:
2 - Calling action2 gives `IN 69/l8 cmd:*,role:a` on api_node_02 which calls **cmd:b,role:a** on srv_nod

[2016-08-23 09:33] mcdonnelldean commented on #503
@dhautotlf Turning actcache off will certainly work but those log statements look odd.

Do you have a pin or act that matches that log? Specifically `cmd:*,role:a`.

[2016-08-23 09:38] dhautotlf commented on #503
@mcdonnelldean yes turning actcache off do the trick.

Yes we have a act that matches this in our srv node : ` seneca.add({role: 'a', cmd: 'a'}, handle1);` and  seneca.add({role: 'a', cmd: 'b'}, handle2);`

[2016-08-23 09:43] mcdonnelldean commented on #503
@dhautotlf Do these then back on to listens or clients __specifically__ with this pin, `{pin: 'role:a'}` or `{pin: 'role:a,cmd:*'}` (or their json equivs) ?

[2016-08-23 09:51] dhautotlf commented on #503
@mcdonnelldean yes
On api side :
`si.client({
        ...
        pins: [{role: 'a', cmd: '*'}],
        ...
    })`
Then :
`req.seneca.act('role:a,cmd:a', ...`
`req.seneca.act('role:a,cmd:b', ...`

On srv side :
`seneca.add({role: a, cmd: 'a'}, handle1);`
`seneca.add({role: a, cmd: 'b'}, handle2);`

[2016-08-23 10:08] mcdonnelldean commented on #503
Awesome. The reason I ask is, I think the problem is actCache caching the pin, not the match itself. This would explain the issue you are having. We are flat out for 3.0 right now but lets keep this open so we can look at it once the release drops as a point fix.

[2016-08-23 10:12] dhautotlf commented on #503
Fantastic. 👍
Yes I was thinking so too. I will keep it disabled for now.
Ow and It would be nice to have a reference of this caching system in the doc somewhere :)
Thanks for your help !

[2016-08-23 10:14] mcdonnelldean commented on #503
@dhautotlf Agreed! It's on the list. It is mentioned casually in a couple of places but I think it needs a solid right up. Or at the very least an example explaining it in `docs/examples`

[2016-08-23 13:50] edwinallenz opened #505 "Pattern override and priors not working properly with arrow functions"
Doing the seneca in practice workshop I've notice that if an override is executing doing arrow function the prior action is not executed.

### Fails with arrow function
[code]

### And it works if the arrow function is remove
[code]

[2016-08-23 13:57] mcdonnelldean commented on #505
@edwinallenz This is expected behaviour (Although it needs better mention). Handlers can have a context in the form of `this`. The trade-off is you can't use `this` in an arrow function as it relates to the outermost function (arrows can't have a bound context).

Prior's are contextual and as such are only available on the context. It basically means you can't use an arrow and a prior together.

[2016-08-23 13:59] mcdonnelldean commented on #492
@mihaidma Can we call this done?

[2016-08-23 14:39] mihaidma commented on #492
it is done, i'll close it

[2016-08-23 14:39] #492 closed

[2016-08-23 18:00] edwinallenz commented on #505
thanks for make it clear (Y)

[2016-08-25 09:37] mcdonnelldean commented on #505
NP, Any more questions please let us know 💃

[2016-08-25 09:37] #505 closed

[2016-08-25 11:41] StarpTech opened #507 "Testing - error handling"
Errors that happen in the client callback aren't propagated.
In Mocha this code throws a
`Error: timeout of 5000ms exceeded. Ensure the done() callback is being called in this test.`

 instead to name the exact error. I can see the exact error in the logs of seneca but this isn't the correct way. Does exist any option ?

[code]

[code]

[2016-08-25 16:09] rjrodger commented on #507
@SharpTech
To automatically capture errors, use `seneca.error(done)` to register the callback as an error handler.

Thrown errors will not propagate back to calling code as all Seneca actions are asynchronous.

[2016-08-25 16:11] rjrodger commented on #503
@dhautotlf your ids are in the format XX/YY - this the debug form - do you have the `debug.short_logs` option enabled? The ids should be much longer (to prevent collisions).

[2016-08-25 16:14] rjrodger opened #508 "propagated timeouts"
Assume an action call sequence A->B->C
Then if A has default timeout, say 1000, and calls B at t=1000, B should have timeout of 9000, *not* the default of 10000. And if B calls C at t=6000, then C only has 4000ms, and that should be its timeout.

[2016-08-25 16:16] rjrodger opened #509 "move action caching into a plugin"
the actcache is causing more problems that it solves

[2016-08-25 17:31] StarpTech commented on #507
@rjrodger that make sense,  thanks!

[2016-08-25 18:39] mcdonnelldean commented on #509
@rjrodger What do we loose here? So I understand. Reviewing the code it looks like actcache is supposed to handle idempotency in messages, is that correct?

[2016-08-25 18:48] mcdonnelldean commented on #507
@StarpTech Yup as above. Any more questions, please reopen 👍

[2016-08-25 18:48] #507 closed

[2016-08-25 20:40] rjrodger commented on #509
action caching is a special case of a more general set of distributed error handling strategies - it's not special as such, as has no more claim to be in core than others (e.g retries).

in any case, this would be discussion for 4.0 - this issue is just a reminder :)

[2016-08-25 21:49] mcdonnelldean commented on #509
Awesome. Makes sense. Shouldn't be a huge job.

[2016-08-25 22:02] mcdonnelldean commented on #503
@dhautotlf To note, by default we are going to take this out in the next version. See #509

I'll close for now. If you have any more questions if you want to answer the above, please do reopen. 👍

[2016-08-25 22:02] #503 closed

[2016-08-25 22:17] mcdonnelldean commented on #412
Closed as this is now agreed. See, #509

[2016-08-25 22:17] #412 closed

[2016-08-25 22:26] mcdonnelldean commented on #366
@devotox We may have resolved this. Once 3.0 drops we will know for sure

[2016-08-25 22:37] rjrodger commented on #375
The problem occurs because the catch-all pattern for the client is not being matched properly when there is a partial match (checked alphabetically - c: is checked before z:, but *after* a:).
If a: does not match, then it goes remote, but once anything matches, it just looks locally.

The workaround is to use explicit client pins.

The investigation starts here: https://github.com/senecajs/seneca/

[2016-08-26 07:42] dhautotlf commented on #503
@rjrodger indeed we kept `debug.short_logs` option enabled. I though it would just impact the logging.
Isn't it weird that this logging option changes the cache behaviour ?

[2016-08-26 11:20] mcdonnelldean commented on #503
@dhautotlf It's an oversight I think. It's something that needs to be fixed for sure anyway.

Good news though, this will be switched off by default in 3.0. It's landed already in master. We'll most likely devolve it into a plugin and fix it up as something you can optionally add.

Couple of hours until release.

[2016-08-26 13:12] mcdonnelldean commented on #509
Note. Feature is off by default as of seneca 3.0

[2016-08-26 14:17] heskew commented on #375
Thanks for that hint on pinning @rjrodger. We've had pinned clients for real use but I found some tests that didn't explicitly pin (we've only had the issue with some tests).

[2016-08-26 15:12] StarpTech commented on #507
Please reopen. I create a repository with all my problems with the error handling.
https://github.com/StarpTech/seneca-tests

[2016-08-26 15:22] StarpTech opened #514 "Error handling"
I create a repository with all my problems with the error handling. There is test suite. Thanks!
https://github.com/StarpTech/seneca-tests

[2016-08-28 07:33] marcopiraccini opened #516 "Error passing `seneca.log` args?"
Seneca 3.0.0, node v6.3.1.
test.js:
[code]
Launching it: `node ex1.js --seneca.log.quiet`, I get:
[code]

[2016-08-28 14:20] mcdonnelldean commented on #516
Hey @marcopiraccini The flags are part of the legacy logger. You need to load 'seneca-legacy-logger' to go back to the old one.

Alternatively,

[code]

Should work with the new logger.

[2016-08-28 14:22] mcdonnelldean commented on #516
Marked as regression. We should do a better job of handling this case when the legacy logger is not loaded.

[2016-08-29 06:05] doliver3 commented on #370
This link no longer works: http://senecajs.org/tutorials/seneca-with-promises.html#basic-example
Is there an updated link that describes how to use seneca with promises?

[2016-08-29 09:10] mcdonnelldean commented on #370
@doliver3 I have corrected the link. It should be live in the next hour. There was a missing call to seneca-entity in the tutorial.

[2016-08-30 00:05] CelsoSantos commented on #508
I don't see how we'd benefit from this by this description alone.

I agree that adaptive timeout would be nice to have but from my point of view I don't see how we'd benefit from having a chance of "cutting short" the execution time of a nested service call.

How I look at it, the Timeout of A would have to be the timeouts of A + B + C. What you would gain in this situation is the possibility of s

[2016-08-31 11:31] nfantone opened #517 "Global timeout not firing on 3.2.1"
@mcdonnelldean Hi, guys! So, today @vigneshnrfs opened [an issue over at seneca-amqp-transport](https://github.com/seneca-contrib/seneca-amqp-transport/issues/48) explaining that his actions weren't timeoutting using latest Seneca release `3.0.0`, but _were doing fine_ in `2.1.0`. It turned out he was (is) absolutely right.

I investigated a little bit and found out that some work has been done on

[2016-08-31 11:36] mcdonnelldean commented on #517
@nfantone Good spot, I'll have a look over this as soon as I can and see. There should be no api changes around this.

[2016-08-31 11:41] nfantone commented on #517
Many thanks, @mcdonnelldean. You can find the steps to repro this issue at [this comment here](https://github.com/seneca-contrib/seneca-amqp-transport/issues/48#issuecomment-243461799).

[2016-08-31 11:57] StarpTech commented on #514
Hi @mcdonnelldean when can we expect a response? I hope this will not fall into oblivion.  I think this topic is very important.

[2016-08-31 13:36] jeromevalentin opened #518 "client / listen with no pin does not work"
I'm developing an application sharing the seneca-user library with the seneca client / listen mechanism.
I'm using the version below:

[code]

See the example code below:

SERVER :
---
[code]
CLIENT:
---
[code]
Running server and client produce following logs:
Server:
--
[code]

Client:
--
[code]

As you can notice the "role:user, cmd:remove" pattern is not accessible from client while "role:user,

[2016-08-31 16:04] mihaidma commented on #518
related to this https://github.com/senecajs/seneca-transport/issues/117

[2016-09-01 01:00] xpepermint opened #519 "es6/es7 support"
I know that Promises has been discussed here but using bluebird is kind of old stuff. Are there any plans to support Promises (+async/await)? I believe that many developers ignore this package due to the lack of ES6/ES7 support.

[2016-09-01 02:35] benjamin658 commented on #519
Use babel to enable ES6/ES7 feature

[2016-09-01 07:29] jeromevalentin commented on #518
ok thanks for the link, but the problem is still present on 3.0.0, so I'm not sure it is exactly the same.

[2016-09-01 07:50] StarpTech commented on #514
Also related to https://github.com/senecajs/seneca/issues/398

[2016-09-01 12:54] mcdonnelldean commented on #519
@xpepermint There are now current plans for Promises / Async right now outside of making sure third party extensions, like Bluebird work accordingly.

[2016-09-01 13:02] mcdonnelldean commented on #518
Hey @jeromevalentin I updated your post just for readability.

Yeah so looking over the code this is definitely related. There is no explicit fix made for this yet which is why I suspect it still happens in 3.0.

Generally I would recommend always using pins. It is good practice as it makes the API more readable and reduces collisions when your system grows to a particular size.

Having said that.

[2016-09-01 13:02] #518 closed

[2016-09-01 15:32] StarpTech commented on #398
@mcdonnelldean There is no updates since one month. Can you describe what happens with it? Whats the plans?

[2016-09-01 17:02] mcdonnelldean commented on #398
Hey Dustin,

No immediate plans as of yet. 3.0 has just gone live and we are working on module compatibility right now.

This will probably be picked in a couple of months once we have a clear picture of how 3.0 is bedding down.

Kindest Regards,

Dean

On 1 Sep 2016, at 16:32, Dustin <notifications@github.com<mailto:notifications@github.com>> wrote:

@mcdonnelldean<https://github.com/mcdonnelldea

[2016-09-01 19:38] StarpTech commented on #398
@mcdonnelldean in my opinion error handling is a big picture and need good imrovements. Do you planning to take in the next roadmap?

[2016-09-01 19:53] ssmereka opened #520 "Returning a statusCode in a reply object causes unexpected error."
When returning the attribute `statusCode` in a seneca reply with an HTTP status code value representing an error (e.g. `401`), seneca produces an error.

See the example below.

I'm not sure if this is expected behavior or not, but it was an unexpected result for me as a developer and took a bit to track down.  To me, seneca should only produce an error if I return a value in the error parameter.

[2016-09-01 21:23] mcdonnelldean commented on #398
@StarpTech I don't think there is anyone here that doesn't agree Error handling needs to be sorted, hence this Issue item. Seneca 3.0 is just out, we have an obligation to folk to ensure current modules are in working order; standard practice for any toolkit this big.

Once this work is done we will re-examine the roadmap.

[2016-09-02 06:20] StarpTech commented on #398
Hi @mcdonnelldean I just ask this because I cant find it in 4.0, 5.0...

[2016-09-02 08:39] mcdonnelldean commented on #398
Thats because it hasn't been planned yet. As mentioned already we are still bedding down 3.0 and making sure everything is ok there. After that we will look at what's next for further versions

Kindest Regards,

Dean

On 2 Sep 2016, at 07:20, Dustin <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @mcdonnelldean<https://github.com/mcdonnelldean> I just ask this because I cant

[2016-09-02 10:01] StarpTech commented on #398
Then I don't understand the prioritisation but thanks for clarification.

[2016-09-02 18:03] linde12 commented on #516
Weird. I'm almost certain that the flags were working for me with 3.0.0 yesterday, but today it crashes just like @marcopiraccini said.

Is there any docs on the new logger? I wish to pass it a type filter and see all "ACT" messages if it's possible

[2016-09-03 04:04] doliver3 opened #521 "Seneca init should not log hello"
Seneca init logs hello in its init
  seneca.log.info({kind: 'notice', notice: 'hello'})

Someone viewing the logs would assume this is a mistake since 'Hello world' apps are typically just example apps.

There should be an option to disable this. Alternatively the text should be more informative such as "Seneca initialization started"

[2016-09-03 09:31] Bernardstanislas opened #522 "Seneca 3.0.0 fails at creating a new instance of seneca"
When I try to create a new instance, it fails:

[code]

produces:

[code]

I tried using node `0.12.4`, `4.5.0`, `6.2.0`, all would fail.

[2016-09-03 16:12] mcdonnelldean commented on #521
@doliver3 Agreed. The notice is also happening before custom loggers have inited. The plan is to move this lower and change it to Seneca <id> instance started.

[2016-09-04 00:02] tswaters commented on #522
I've encountered this myself, relates to using `--seneca.log` via the CLI which [according to the docs](http://senecajs.org/docs/tutorials/logging-with-seneca.html) is still valid.

Even after installing `seneca-legacy-logger` and changing instantiation like so:

[code]

Still fails.... is there a way to pass log levels with 3.0?  What is it?

[2016-09-04 21:43] afoninsky opened #523 "Best practices to log entries and catch errors in 3.0.0"
What's the best practice to handle seneca logs and errors? I've made quick research over code and issue, and still don't get it

**1) Logs handling**
Usecase exmaples: i want to send all my logs into external logstash storage, or output to various streams (sdtout for info, stderr for error) so docker can catch it

https://github.com/senecajs/seneca/blob/master/docs/examples/custom-logger.js

With

[2016-09-04 21:56] StarpTech commented on #523
Hi @afoninsky the current approach to handle errors is to ignore them I mean you have to create your own error handling:

1. Business errors (user not found etc..): return something like `{ success: false, result : ... }`
2. All other are fatal.

I create a repository with all my problems with the current implementation https://github.com/senecajs/seneca/issues/514 Your're welcome to complement my

[2016-09-05 07:04] mihaidma commented on #523
@afoninsky these are some sample logger implementations:
- You can see here a logstash sample implementation: https://github.com/senecajs/seneca-logstash-logger/blob/master/logstash.js,
- Logentries: https://github.com/senecajs/seneca-logentries-logger/blob/master/logentries.js,
- Custom logger sample: https://github.com/senecajs/seneca/blob/master/docs/examples/custom-logger.js

We also added API

[2016-09-05 07:11] mihaidma commented on #522
Related to: https://github.com/senecajs/seneca/issues/523
You can see in that post links to sample loggers and sample API usage. Especially look at [Log level API samples](https://github.com/senecajs/senecajs.org/blob/master/src/pages/api/index.md) for log level explanations.

[Logging with seneca](http://senecajs.org/docs/tutorials/logging-with-seneca.html) is updated now, today a new version of

[2016-09-05 08:22] mihaidma commented on #516
@linde12 see: [the Seneca API](https://github.com/senecajs/senecajs.org/blob/master/src/pages/api/index.md#loglevelentry-)

Also see:
https://github.com/senecajs/seneca/issues/523
https://github.com/senecajs/seneca/issues/522

[2016-09-05 09:01] linde12 commented on #516
@mihaidma Ah, yes, i glanced at those but i thought it was incomplete since the "filter options" from the legacy logger were missing. Anyway, thanks for the heads up!

[2016-09-05 09:57] Yumonra07 commented on #523
@mihaidma What are the best practices with logging requests that span over multiple microservices? I'm thinking with using an auto-generated id per request to make logs relateable to eachother, is there any implementation in seneca for this?

[2016-09-05 11:02] mcdonnelldean commented on #523
@afoninsky The problem you are having above is actually a bug. The log message for hello happens too soon, before the custom logger is set. See, #521

[2016-09-05 13:31] afoninsky commented on #523
@mihaidma @mcdonnelldean - thank you for your responses

@mcdonnelldean what about second (more important) questions - "Errors catching"
is there any roadmap?

[2016-09-06 08:23] #519 closed

[2016-09-06 10:37] guptakvgaurav opened #524 "seneca: No matching action pattern found"
I am trying to learn build micro-services with seneca, but getting below mentioned error.

Message: seneca: No matching action pattern found for { use:    { prefix: '/api',     pin: 'role:api,path:*',     map: { catalog: [Object] } },  role: 'web' }, and no default result provided (using a default$ property).

Code: `act_not_found`

Details: `{ args: '{ use:    { prefix: \'/api\',     pin: \'role:

[2016-09-06 12:48] dgonzalez commented on #524
This seems more a seneca-web problem: https://github.com/senecajs/seneca-web

Can you please report the issue in there?

Thanks!

[2016-09-06 13:30] guptakvgaurav commented on #524
@dgonzalez Yup !! I came across that issue ( [https://github.com/senecajs/seneca-web/issues/78](url) ) .

[2016-09-06 14:11] dgonzalez commented on #524
We are working right now on it. It will be ready soon. Meanwhile, you can have a look to the PR: https://github.com/senecajs/seneca-web/pull/79

There are few examples in there. Ping us again if you need any help.

[2016-09-06 15:29] CelsoSantos commented on #159
I'm sorry to re-open this, but it's also important to have .d.ts files for all accompaning seneca-plugins, otherwise, typescript will always throw an error, which causes Docker builds to fails, for instance, with error TS2307

[2016-09-06 19:04] mcdonnelldean commented on #159
@CelsoSantos this is why we didn't accept this one. In a plugin environment it's too much to support for us right now.